<div class="container-fluid animated fadeIn mg100b">
  <div class="row">
    <!-- 検索ツール -->
    <accordion close-others="true" ng-init="openTools = false;">
      <accordion-group is-open="openTools">
        <accordion-heading>
          <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openTools}"></i> 検索ツール
        </accordion-heading>
        <div class="form-group">
          <label class="w100p pd15l">検索範囲</label>
          <div class="col-sm-6" ng-init="startDatePickerOpen = false;">
            <div class="input-group">
              <input name="start" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.start" is-open="startDatePickerOpen"
                close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body placeholder="開始" show-weeks="false"
                readonly="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="startDatePickerOpen = true;">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col-sm-6" ng-init="endDatePickerOpen = false;">
            <div class="input-group">
              <input name="end" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.end" is-open="endDatePickerOpen"
                close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body placeholder="終了" show-weeks="false"
                readonly="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="endDatePickerOpen = true;">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <label for="status">状態</label>
            <select name="status" class="form-control" ng-model="vm.condition.status">
              <option value>全て</option>
              <option value="1">未申請</option>
              <option value="2">申請中</option>
              <option value="3">承認</option>
              <option value="4">拒否</option>
              <option value="5">済</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="sort">並び順</label>
            <select name="sort" class="form-control" ng-model="vm.condition.sort">
              <option value="-created">登録の新しい順番</option>
              <option value="created">登録の古い順番</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <label for="department">部署</label>
            <select name="department" class="form-control" ng-model="vm.condition.department">
              <option value>指定しない</option>
              <option value="empty">未設定</option>
              <option ng-repeat="department in vm.departments" value="{{department._id}}">{{:: department.name}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="roles">役割</label>
            <select name="roles" class="form-control" ng-model="vm.condition.roles" ng-list>
              <option value>指定しない</option>
              <option value="user">一般社員</option>
              <option value="user,accountant">経理</option>
              <option value="user,manager">マネージャ</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <label for="user">社員</label>
            <div dropdown is-open="vm.isShowUserDropdown">
              <input class="form-control" ng-model="vm.userSearchKey" ng-change="vm.handleUserSearchChanged()" placeholder="ユーザー名検索">
              <ul class="dropdown-menu" role="menu">
                <li class="text-center" ng-show="vm.isUserSearching">
                  <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </li>
                <li ng-show="!vm.userSearching && vm.users.length === 0" class="pd12x">データが見つかりません。</li>
                <li ng-repeat="user in vm.users">
                  <a ng-click="vm.handleUserSelected(user)">
                    <img src="{{ user.profieImageURL }}" class="user-common-avatar-small">
                    <span>{{ user.displayNamle }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button class="btn btn-sm btn-danger pull-right" ng-click="vm.handleClearCondition()">クリア</button>
            <button class="btn btn-sm btn-primary pull-right mg5r" ng-click="vm.handleStartSearch()">検索</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </accordion-group>
    </accordion>
  </div>
  <div class="row mg10t">
    <div class="col-xs-12">
      <div class="form-group">
        <button ng-show="vm.isShowHistory" class="btn btn-warning btn-sm pull-right" ng-click="vm.handleCloseHistory()">歴史表を閉じる</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive" id="months-list-historys" ng-show="vm.isShowHistory">
        <table class="table table-bordered">
          <thead class="thead-default">
            <tr>
              <th>日付</th>
              <th>操作</th>
              <th>コメント</th>
              <th>操作者</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="history in vm.historys">
              <td>{{history.timing | LLLL}}</td>
              <td>{{history.action | RestActionFilter}}</td>
              <td>
                <span ng-bind-html="history.comment | nl2br"></span>
              </td>
              <td>
                <a ng-click="vm.handleViewDetailUser(history.user)">{{history.user.displayName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>