<div class="container-fluid animated fadeIn mg100b">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center mg5y">{{ vm.workmonth.year + '年' + vm.workmonth.month + '月'}}</h3>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-default btn-sm" ng-click="vm.handlePreviousScreen()">
        <i class="fa fa-angle-double-left"></i> 戻る
      </button>
    </div>
  </div>

  <div class="row" ng-show="vm.syncData">
    <div class="col-xs-12 text-center">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
    </div>
    <div class="col-xs-12 text-center">
      <p>データを同期中...</p>
    </div>
  </div>

  <div class="row" ng-hide="vm.syncData">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">日付</th>
              <!-- <th class="text-center">曜日</th> -->
              <th>業務内容</th>
              <th class="text-center">開始</th>
              <th class="text-center">終了</th>
              <th class="text-center">休暇</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.workmonth.workdates">
              <td ng-class="{'bg-danger': item.day === 0 || (item.isHoliday && item.day !== 6), 'bg-warning': item.day === 6 }">{{:: item.time.format('MMMM D[日] dddd') }}</td>
              <!-- <td ng-class="{'bg-danger': item.date.day() === 0 || (item.workdate.isHoliday && item.date.day() !== 6), 'bg-warning': item.date.day() === 6 }" ng-bind="item.date.format('MMMM D[日]')"></td>
              <td ng-class="{'bg-danger': item.date.day() === 0 || (item.workdate.isHoliday && item.date.day() !== 6), 'bg-warning': item.date.day() === 6 }" ng-bind="item.date.format('dddd')"></td> -->
              <!-- 未入力 -->
              <td ng-if="!item" colspan="5"></td>
              <!-- お休み -->
              <!-- <td ng-if="item.work && item.work.rest" colspan="5">
                <span>{{item.work.rest.holiday.name}}</span>
                <span ng-bind-html="item.work.rest.description | nl2br"></span>
              </td> -->
              <!-- 出勤 -->
              <td ng-if="item">
                <p ng-if="item.start">{{:: item.start }}</p>
                <p ng-if="!item.start">未入力</p>
              </td>
              <td ng-if="item">
                <p ng-if="item.end">{{:: item.end }}</p>
                <p ng-if="!item.end">未入力</p>
              </td>
              <td ng-if="item">
                <p ng-if="item.content">{{:: item.content }}</p>
                <p ng-if="!item.content">未入力</p>
              </td>
              <td>
                <button ng-if="item.workrests.length > 0" class="btn btn-danger btn-xs" ng-click="vm.handleViewWorkrest(item)">休暇詳細</button>
              </td>
              <td>
                <a ng-if="!item" class="btn btn-default btn-xs" ng-click="vm.handleCreateWorkDate(item)">
                  <i class="fa fa-spinner fa-pulse fa-fw" ng-show="vm.createWorkDateBusy"></i> 作成
                </a>
                <a ng-if="item" class="btn btn-primary btn-xs" ng-click="vm.handleEditWorkDate(item)">編集</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="workrests_list.html">
  <h4>{{item.date | LL}}</h4>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>休暇形態</th>
              <th>理由</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="workrest in item.workrests">
              <td>{{ workrest.holiday.name }}</td>
              <td>{{ workrest.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-sm pull-right btn-danger" ng-click="closeThisDialog()">閉じる</button>
      <div class="clearfix"></div>
    </div>
  </div>
</script>