<div class="container-fluid animated fadeIn">
  <!-- ツールバー -->
  <div class="row">
    <div class="form-group text-right">
      <button class="btn btn-default" ng-click="vm.handleViewYear()">{{:: vm.workmonth.year + '年'}}</button>
      <button class="btn btn-primary" ng-show="vm.workmonth.status === 1 || vm.workmonth.status === 4" ng-click="vm.handleRequestWorkmonth()">申請</button>
      <button class="btn btn-warning" ng-show="vm.workmonth.status === 2" ng-click="vm.handleCancelWorkmonth()">申請キャンセル</button>
      <button class="btn btn-danger" ng-show="vm.workmonth.status === 3" ng-click="vm.handleRequestDeleteWorkmonth()">取り消し申請</button>
      <button class="btn btn-danger" ng-show="vm.workmonth.status === 1 || vm.workmonth.status === 4" ng-click="vm.handleDeleteWorkmonth()">削除</button>
      <button class="btn btn-info" ng-click="vm.isShowHistory = !vm.isShowHistory">
        {{ (vm.isShowHistory) ? '履歴非表示' : '履歴表示' }}
      </button>
    </div>
  </div>

  <!-- ヘッダー -->
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>氏名</th>
              <th>部署</th>
              <th>報告年月</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span class="h4-text">{{ vm.workmonth.user.displayName }}</span>
              </td>
              <td>
                <span ng-show="vm.workmonth.department">{{ vm.workmonth.department.name }}</span>
                <span ng-show="!vm.workmonth.department">未設定</span>
              </td>
              <td>{{ vm.workmonth.year + '年' + vm.workmonth.month + '月' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- 履歴 -->
  <div class="row">
    <div class="col-xs-12" ng-show="vm.isShowHistory">
      <h4>変更履歴</h4>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th class="w30 text-center">#</th>
              <th>日付</th>
              <th>操作</th>
              <th>操作者</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="history in vm.workmonth.historys">
              <td class="w30 text-center">{{ $index + 1 }}</td>
              <td>{{ history.timing | LLLL }}</td>
              <td>{{ history.action | ActionFilter }}</td>
              <td>
                <a ng-click="handleViewDetailUser(history.user)">{{history.user.displayName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- 合計 -->
  <div class="row">
    <div class="col-xs-12">
      <h4>合計情報</h4>
      <table class="table table-bordered">
        <tr>
          <th>出勤日数</th>
          <th>残業時間</th>
          <th>休深時間</th>
          <th>休憩時間</th>
          <th>状態</th>
        </tr>
        <tr>
          <td>{{ vm.workmonth.numWorkDate }}</td>
          <td>{{ vm.workmonth.overtime }}</td>
          <td>{{ vm.workmonth.overnight }}</td>
          <td>{{ vm.workmonth.middleRest }}</td>
          <td>{{ vm.workmonth.status | StatusFilter }}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- 勤務時間一覧 -->
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center w50">操作</th>
              <th>日付</th>
              <th>業務内容</th>
              <th class="w50">開始</th>
              <th class="w50">終了</th>
              <th class="w50">休憩</th>
              <th>休暇</th>
              <th>振替</th>
              <th>コメント</th>
            </tr>
          </thead>
          <tbody>
            <tr class="clickable" ng-repeat="workdate in vm.workmonth.workdates" ng-click="vm.handleSelectWorkdate(workdate)">
              <td class="text-center w50">
                <button class="btn btn-xs btn-default inside-clickable" ng-show="vm.isCopying && workdate._id !== vm.copyingWorkdate._id" ng-click="vm.handlePasteWorkdate(workdate)">
                  <span ng-hide="vm.isSaving">貼り付け</span>
                  <i ng-show="vm.isSaving" class="fa fa-spinner fa-pulse fa-fw"></i>
                </button>
                <button class="btn btn-xs btn-danger inside-clickable" ng-show="vm.isCopying && workdate._id === vm.copyingWorkdate._id" ng-click="vm.handleCancleCopyWorkdate()">
                  <span ng-hide="vm.isSaving">キャンセル</span>
                  <i ng-show="vm.isSaving" class="fa fa-spinner fa-pulse fa-fw"></i>
                </button>
                <div dropdown dropdown-append-to-body ng-show="!vm.isCopying">
                  <a dropdown-toggle class="btn btn-xs btn-default inside-clickable">
                    <i class="glyphicon glyphicon-option-horizontal"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li ng-if="vm.workmonth.status === 1 || vm.workmonth.status === 4">
                      <a ui-sref="workdates.view({ workdateId: workdate._id })">編集</a>
                    </li>
                    <li ng-if="vm.workmonth.status === 1 || vm.workmonth.status === 4">
                      <a ng-click="vm.handleCopyWorkdate(workdate)">コピー</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td ng-class="{'bg-danger': workdate.day === 0 || (workdate.isHoliday && workdate.day !== 6), 'bg-warning': workdate.day === 6 }">
                {{:: workdate.time.format('MMMM D[日] dd') }}
              </td>
              <!-- 出勤 -->
              <td>{{ workdate.content }}</td>
              <td>{{ workdate.start }}</td>
              <td>{{ workdate.end }}</td>
              <td>
                <span ng-show="workdate.start">{{ workdate.middleRest }}</span>
              </td>
              <td>
                <p ng-repeat="workrest in workdate.workrests">{{:: workrest.holiday.name }}</p>
              </td>
              <td>
                <span ng-if="workdate.transfer">振り替えされた。</span>
                <p ng-repeat="transfer in workdate.transfers track by $index">{{ transfer.year + '年' + transfer.month + '月' + transfer.date + '日' }}</p>
              </td>
              <td>
                <p ng-repeat="comment in workdate.comments | limitTo: 1">
                  <strong>{{comment.author}}</strong>
                  <span>{{comment.content}}</span>
                  <small>{{comment.time}}</small>
                </p>
                <a class="mg5x inside-clickable" ng-click="vm.handleViewMoreWorkdateComment(workdate)" ng-if="workdate.comments.length > 1">全て</a>
                <a class="mg5x inside-clickable" ng-click="vm.handleWriteWorkdateComment(workdate)">書く</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<script type="text/ng-template" id="workrests_list.html">
  <h4>{{time | LL}}</h4>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>休暇形態</th>
              <th>理由</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="workrest in workrests">
              <td>{{ workrest.holiday.name }}</td>
              <td>{{ workrest.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-sm pull-right btn-danger" ng-click="closeThisDialog()">閉じる</button>
      <div class="clearfix"></div>
    </div>
  </div>
</script>

<!-- コメント入力 -->
<script type="text/ng-template" id="commentsTempalte.html">
  <h3>{{ tmp_time }}</h3>
  <div ng-repeat="comment in tmp_comments">
    <strong>{{comment.author}}</strong>
    <small>{{comment.time}}</small>
    <p class="text-justify" ng-bind-html="comment.content | nl2br"></p>
    <hr class="mgn mg5b">
  </div>
  <div class="form-group mg12t mgnb">
    <button class="btn btn-default pull-right" ng-click="closeThisDialog()">閉じる</button>
    <div class="clearfix"></div>
  </div>
</script>