<div class="row animated fadeIn mg50t">
  <!-- Basic info -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well">
      <h3>基本情報</h3>
      <form name="vm.form.departmentForm" ng-submit="vm.save(vm.form.departmentForm.$valid)" novalidate>
        <div class="form-group" show-errors>
          <input name="name" type="text" ng-model="vm.department.name" id="name" class="form-control" placeholder="名前" required>
          <div ng-messages="vm.form.departmentForm.name.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">名前は必須です。</p>
          </div>
        </div>
        <div class="form-group">
          <input name="location" type="text" ng-model="vm.department.location" id="location" class="form-control" placeholder="場所">
        </div>
        <div class="form-group mgnb">
          <button type="submit" class="btn btn-default">保存</button>
          <button type="button" class="btn btn-default">キャンセル</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Leaders -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well">
      <h3>リーダ</h3>
      <!-- Tìm leader -->
      <div class="form-group">
        <div dropdown is-open="vm.isShowLeaderDropdown">
          <input class="form-control" ng-model="vm.leaderSearchKey" ng-change="vm.handleLeaderInputChanged()" placeholder="リーダを追加">
          <ul class="dropdown-menu" role="menu">
            <li class="text-center" ng-show="vm.leaderSearching"><i class="fa fa-spinner fa-pulse fa-fw"></i></li>
            <li ng-show="!vm.leaderSearching && vm.searchLeaders.length === 0" class="pd12x">データが見つかりません。</li>
            <li ng-repeat="leader in vm.searchLeaders">
              <a ng-click="vm.handleLeaderSelected(leader)">
                <img src="{{::leader.profileImageURL}}" class="user-common-avatar-small">
                <span>{{::leader.displayName}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Danh sách leader -->
      <div class="user-item-block" ng-repeat="leader in vm.department.leaders">
        <div class="user-basic-info">
          <div class="user-avatar">
            <img src="{{:: leader.profileImageURL }}">
          </div>
          <div class="user-info">
            <a class="user-info-name" ui-sref="users.view({ userId: leader._id })">{{:: leader.displayName}}</a>
            <a class="font-sm" ng-href="mailto:{{leader.email}}">{{::leader.email}}</a>
          </div>
          <div class="user-action">
            <div dropdown dropdown-append-to-body>
              <a dropdown-toggle><i class="fa fa-cog"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
            <div>
              <a class="expand-toggle" href="#"><i class="fa fa-chevron-circle-down"></i></a>
            </div>
          </div>
        </div>
        <div class="user-advance-info"></div>
      </div>
    </div>
  </div>
  <!-- Members -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well">
      <h3>メンバー</h3>
      <div class="alert alert-danger" role="alert" ng-repeat="member in vm.department.members">
        {{:: member.displayName }}
      </div>
      <button class="btn btn-default" ng-click="vm.handleAddMember()">追加</button>
    </div>
  </div>
</div>