<div class="row animated fadeIn mg50t">
  <!-- Basic info -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well">
      <h3>基本情報</h3>
      <form name="vm.form.departmentForm" ng-submit="vm.save(vm.form.departmentForm.$valid)" novalidate>
        <div class="form-group" show-errors>
          <input name="name" type="text" ng-model="vm.department.name" id="name" class="form-control" placeholder="名前" required>
          <div ng-messages="vm.form.departmentForm.name.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">名前は必須です。</p>
          </div>
        </div>
        <div class="form-group">
          <input name="location" type="text" ng-model="vm.department.location" id="location" class="form-control" placeholder="場所">
        </div>
        <div class="form-group mgnb">
          <button type="submit" class="btn btn-default">保存</button>
          <button type="button" class="btn btn-default">キャンセル</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Leaders -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well">
      <h3>リーダ</h3>
      <div class="alert alert-danger" role="alert" ng-repeat="leader in vm.department.leaders">
        {{:: leader.displayName }}
      </div>
      <button class="btn btn-default" ng-click="vm.handleAddLeader()">追加</button>
    </div>
  </div>
  <!-- Members -->
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="well">
      <h3>メンバー</h3>
      <div class="alert alert-danger" role="alert" ng-repeat="member in vm.department.members">
        {{:: member.displayName }}
      </div>
      <button class="btn btn-default" ng-click="vm.handleAddMember()">追加</button>
    </div>
  </div>
</div>