<div class="row animated fadeIn mg50t">
  <div class="col-xs-12 col-sm-2 col-md-4 col-lg-3" ng-if="isLeader">
    <div class="well">
      <a class="btn btn-default w100 h100" ui-sref="departments.create"><i class="fa fa-plus fa-3x"></i></a>
      部署追加
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-xs-12 col-sm-2 col-md-4 col-lg-3" ng-repeat="department in vm.departments">
    <div class="well">
      <h3><a ui-sref="departments.view({ departmentId: department._id })">{{:: department.name}}</a></h3>
      <div>
        <a ng-repeat="lead in department.leaders" ui-sref="profile.view({ userId: lead._id })" ng-class="{'mg5l': !$first}">{{:: lead.displayName}}</a>
      </div>
      <button class="btn btn-default btn-sm" ng-click="vm.handleAddMembers(department)">Add member</button>
      <button class="btn btn-default btn-sm" ng-click="vm.handleAddLeaders(department)">Add leader</button>
    </div>
  </div>
</div>