<div class="row animated fadeIn mg12t">
  <div class="col-xs-12">
    <div class="user-detail-block">
      <div class="user-basic-info">
        <div class="user-avatar">
          <img src="{{:: vm.department.avatar }}">
        </div>
        <div class="user-info-block">
          <h3>{{:: vm.department.name}}</h3>
          <table>
            <tr>
              <td class="pd10r"><i class="fa fa-envelope"></i> メール</td>
              <td><a ng-href="mailto:{{vm.department.email}}"> {{:: vm.department.email }}</a></td>
            </tr>
            <tr>
              <td class="pd10r"><i class="fa fa-map-marker"></i> 場所</td>
              <td>{{:: vm.department.location }}</td>
            </tr>
          </table>
        </div>
        <div class="user-tools">
          <a class="user-tool-button" ng-href="mailto:{{vm.department.email}}" tooltip-placement="bottom" tooltip="メール送信"><i class="fa fa-envelope"></i></a>
          <a class="user-tool-button" ng-click="vm.handleSendMessageDepartment()" tooltip-placement="bottom" tooltip="メッセージ送信"><i class="fa fa-commenting"></i></a>
          <a ng-if="isAdmin || isAccountant" class="user-tool-button" ui-sref="departments.edit({ departmentId: vm.department._id })" tooltip-placement="bottom" tooltip="編集"><i class="fa fa-pencil-square-o"></i></a>
          <a ng-if="isAdmin || isAccountant" class="user-tool-button" ng-click="vm.handleDeleteDepartment()" tooltip-placement="bottom" tooltip="削除"><i class="fa fa-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr class="mg12y">
</div>
