<div class="container-fluid animated fadeIn mg100b">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center mg5y">{{ vm.month.year + '年' + vm.month.month + '月'}}</h3>
    </div>
    <div class="col-xs-12">
      <button class="btn btn-default btn-sm" ng-click="vm.handlePreviousScreen()">
        <i class="fa fa-angle-double-left"></i> 戻る
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="form-group" ng-if="tmpWork.rests.length > 0">
          <span>休暇：</span>
          <a ng-repeat="rest in tmpWork.rests" ng-class="{'mg5l': !$first}">{{ rest.description }}</a>
        </div>
        <div class="form-group">
          <div class="col-xs-6 pdnl">
            <label for="start">開始</label>
            <timepicker ng-model="tmpWork.start" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
          </div>
          <div class="col-xs-6">
            <label for="end">終了</label>
            <timepicker ng-model="tmpWork.end" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
          </div>
        </div>
        <div class="form-group">
          <label for="rest">休憩時間（分）</label>
          <input class="form-control" type="number" ng-model="tmpWork.middleRest" step="1" min="0">
        </div>
        <div class="form-group">
          <label for="content">作業内容</label>
          <textarea name="content" class="form-control h50" ng-model="tmpWork.content" required></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-sm pull-right btn-primary" ng-click="handleSaveWorkDate(tmpWork, item)">保存</button>
          <button class="btn btn-sm pull-right btn-default mg10r" ng-click="closeThisDialog()">キャンセル</button>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>