<div class="container-fluid animated fadeIn mg100b">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center mg5y">{{ vm.month.year + '年' + vm.month.month + '月'}}</h3>
    </div>
    <div class="col-xs-12 text-center">
      <button class="btn btn-default btn-sm" ng-click="vm.handlePreviousScreen()">
        <i class="fa fa-angle-double-left"></i> 戻る</button>
    </div>
  </div>
  <div class="row mg10t" id="months-view-form" ng-show="vm.isShowWorkDateForm">
    <div class="col-xs-12">
      <form name="vm.form.workFrom">
        <div class="form-group" show-errors>
          <div class="month-input">
            <div class="month-start">
              <label for="start">開始</label>
              <timepicker ng-model="vm.tmpWork.start" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
            </div>
            <div class="month-end">
              <label for="end">終了</label>
              <timepicker ng-model="vm.tmpWork.end" hour-step="1" minute-step="5" show-meridian="false"></timepicker>
            </div>
            <div class="month-content">
              <textarea name="content" class="form-control h100p" ng-model="vm.tmpWork.content" required></textarea>
            </div>
            <div class="month-other">
              <button class="btn btn-primary">Save</button>
            </div>
          </div>
      </form>
      </div>
    </div>
    <div class="row mg10t" id="months-view-works">
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-default">
              <tr>
                <th class="text-center">日付</th>
                <th class="text-center">曜日</th>
                <th>業務内容</th>
                <th class="text-center">開始</th>
                <th class="text-center">終了</th>
                <th class="text-center">休憩</th>
                <th class="text-center">情報</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.datas">
                <td ng-class="{'bg-danger': item.date.day() === 0, 'bg-warning': item.date.day() === 6 }" ng-bind="item.date.format('MMMM D[日]')"></td>
                <td ng-class="{'bg-danger': item.date.day() === 0, 'bg-warning': item.date.day() === 6 }" ng-bind="item.date.format('dddd')"></td>
                <!-- 未入力 -->
                <td ng-if="!item.work" colspan="5"></td>
                <!-- お休み -->
                <td ng-if="item.work && item.work.rest" colspan="5">
                  <span>{{item.work.rest.holiday.name}}</span>
                  <span ng-bind-html="item.work.rest.description | nl2br"></span>
                </td>
                <!-- 出勤 -->
                <td ng-if="item.work && !item.work.rest">{{item.work.content}}</td>
                <td ng-if="item.work && !item.work.rest">{{item.work.start}}</td>
                <td ng-if="item.work && !item.work.rest">{{item.work.end}}</td>
                <td ng-if="item.work && !item.work.rest">{{item.work.middleRest}}</td>
                <td ng-if="item.work && !item.work.rest">計算情報</td>
                <td>
                  <a ng-if="!item.work" class="btn btn-default btn-xs" ng-click="vm.handleCreateWorkDate(item)">
                    <i class="fa fa-spinner fa-pulse fa-fw" ng-show="vm.createWorkDateBusy"></i> 入力
                  </a>
                  <a ng-if="item.work" class="btn btn-primary btn-xs" ng-click="vm.handleEditWorkDate(item)">編集</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>