<div class="container-fluid animated fadeIn mg100b">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center mg5y">{{ vm.month.year + '年' + vm.month.month + '月'}}</h3>
    </div>
    <div class="col-xs-12 text-center">
      <button class="btn btn-default btn-sm" ng-click="vm.handlePreviousScreen()">
        <i class="fa fa-angle-double-left"></i> 戻る</button>
    </div>
  </div>
  <div class="row mg10t">
    <div class="col-xs-12">
      <div class="table-responsive" id="months-view-works">
        <table class="table table-bordered">
          <thead class="thead-default">
            <tr>
              <th class="text-center">日付</th>
              <th class="text-center">曜日</th>
              <th class="text-center">業務内容</th>
              <th class="text-center">開始</th>
              <th class="text-center">終了</th>
              <th class="text-center">休憩</th>
              <th class="text-center">情報</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.dates">
              <td ng-class="{'bg-danger': item.day() === 0, 'bg-warning': item.day() === 6 }" ng-bind="item.format('MMMM D[日]')"></td>
              <td ng-class="{'bg-danger': item.day() === 0, 'bg-warning': item.day() === 6 }" ng-bind="item.format('dddd')"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>