<div class="container-fluid animated fadeIn">
  <!-- <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="form-group text-right">
        <button class="btn btn-sm btn-default" ng-click="handleBackScreen('home')">キャンセル</button>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <ul class="booking-step">
        <li ng-class="{ 'completed': vm.step > 1, 'active': vm.step === 1 }">
          <a href="#">条件設定</a>
        </li>
        <li ng-class="{ 'completed': vm.step > 2, 'active': vm.step === 2 }">
          <a href="#">室選択</a>
        </li>
        <li ng-class="{ 'completed': vm.step > 3, 'active': vm.step === 3 }">
          <a href="#">予約</a>
        </li>
      </ul>

      <div class="form-group text-center">
        <i ng-show="vm.busy" class="fa fa-spinner fa-pulse fa-fw fa-3x"></i>
      </div>

      <div class="booking-condition" ng-show="vm.step === 1">
        <div class="panel panel-default">
          <div class="panel-heading">予約の条件を選択</div>
          <div class="panel-body">
            <!-- 時間 -->
            <div class="form-group d-sm-down-none">
              <div class="col-xs-6 pdnl">
                <label for="start">開始＊</label>
                <div class="booking-time" ng-init="startDatePickerOpen = false;">
                  <div class="booking-time-date">
                    <div class="input-group">
                      <input name="start_date" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.start_date"
                        is-open="startDatePickerOpen" min-date="vm.condition.min_date" close-text="閉じる" current-text="本日" clear-text="クリア"
                        datepicker-append-to-body placeholder="利用開始日" ng-change="vm.handleStartDateChanged()" show-weeks="false"
                        readonly="true" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="startDatePickerOpen = true;">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="booking-time-hour">
                    <select class="form-control" ng-model="vm.condition.start_time">
                      <option value="08:00">08:00</option>
                      <option value="08:30">08:30</option>
                      <option value="23:30">23:30</option>
                      <option value="24:00">24:00</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 pdnr">
                <label for="end">終了＊</label>
                <div class="booking-time" ng-init="endDatePickerOpen = false;">
                  <div class="booking-time-date">
                    <div class="input-group">
                      <input name="end_date" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.end_date" is-open="endDatePickerOpen"
                        min-date="vm.condition.min_date" close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body
                        placeholder="利用終了日" ng-change="vm.handleEndDateChanged()" show-weeks="false" readonly="true" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="endDatePickerOpen = true;">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  <div class="booking-time-hour">
                    <select class="form-control" ng-model="vm.condition.end_time">
                      <option value="08:00">08:00</option>
                      <option value="08:30">08:30</option>
                      <option value="23:30">23:30</option>
                      <option value="24:00">24:00</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group d-md-none">
              <label for="start">開始＊</label>
              <div class="booking-time" ng-init="startDatePickerOpen = false;">
                <div class="booking-time-date">
                  <div class="input-group">
                    <input name="start_date" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.start_date"
                      is-open="startDatePickerOpen" min-date="vm.condition.min_date" close-text="閉じる" current-text="本日" clear-text="クリア"
                      datepicker-append-to-body placeholder="利用開始日" ng-change="vm.handleStartDateChanged()" show-weeks="false"
                      readonly="true" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="startDatePickerOpen = true;">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="booking-time-hour">
                  <select class="form-control" ng-model="vm.condition.start_time">
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="23:30">23:30</option>
                    <option value="24:00">24:00</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group d-md-none">
              <label for="end">終了＊</label>
              <div class="booking-time" ng-init="endDatePickerOpen = false;">
                <div class="booking-time-date">
                  <div class="input-group">
                    <input name="end_date" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.end_date" is-open="endDatePickerOpen"
                      min-date="vm.condition.min_date" close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body
                      placeholder="利用終了日" ng-change="vm.handleEndDateChanged()" show-weeks="false" readonly="true" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="endDatePickerOpen = true;">
                        <i class="fa fa-calendar"></i>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="booking-time-hour">
                  <select class="form-control" ng-model="vm.condition.end_time">
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="23:30">23:30</option>
                    <option value="24:00">24:00</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- 詳細 -->
            <div class="form-group d-sm-down-none">
              <div class="col-xs-6 pdnl">
                <label for="seats">席数</label>
                <input class="form-control" ng-model="vm.condition.seats" type="number" min="1" step="1">
              </div>
              <div class="col-xs-6 pdnr">
                <label for="computer">パソコン</label>
                <input class="form-control" ng-model="vm.condition.computer" type="number" min="1" step="1">
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group d-md-none">
              <label for="seats">席数</label>
              <input class="form-control" ng-model="vm.condition.seats" type="number" min="1" step="1">
            </div>
            <div class="form-group d-md-none">
              <label for="computer">パソコン</label>
              <input class="form-control" ng-model="vm.condition.computer" type="number" min="1" step="1">
            </div>

            <div class="form-group d-sm-down-none">
              <div class="col-xs-3 pdnl">
                <label for="projector">プロジェクター</label>
                <div>
                  <div class="btn-group">
                    <label class="btn btn-xs" ng-class="{ 'btn-success': vm.condition.projector, 'btn-default': !vm.condition.projector }" ng-model="vm.condition.projector"
                      btn-radio="true" uncheckable>必要</label>
                    <label class="btn btn-xs" ng-class="{ 'btn-danger': !vm.condition.projector, 'btn-default': vm.condition.projector }" ng-model="vm.condition.projector"
                      btn-radio="false" uncheckable>不要</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <label for="air_conditional">エアコン</label>
                <div>
                  <div class="btn-group">
                    <label class="btn btn-xs" ng-class="{ 'btn-success': vm.condition.air_conditional, 'btn-default': !vm.condition.air_conditional }"
                      ng-model="vm.condition.air_conditional" btn-radio="true" uncheckable>必要</label>
                    <label class="btn btn-xs" ng-class="{ 'btn-danger': !vm.condition.air_conditional, 'btn-default': vm.condition.air_conditional }"
                      ng-model="vm.condition.air_conditional" btn-radio="false" uncheckable>不要</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-3">
                <label for="white_board">ホワイトボードー</label>
                <div>
                  <div class="btn-group">
                    <label class="btn btn-xs" ng-class="{ 'btn-success': vm.condition.white_board, 'btn-default': !vm.condition.white_board }"
                      ng-model="vm.condition.white_board" btn-radio="true" uncheckable>必要</label>
                    <label class="btn btn-xs" ng-class="{ 'btn-danger': !vm.condition.white_board, 'btn-default': vm.condition.white_board }"
                      ng-model="vm.condition.white_board" btn-radio="false" uncheckable>不要</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 pdnr">
                <label for="sound">音響</label>
                <div>
                  <div class="btn-group">
                    <label class="btn btn-xs" ng-class="{ 'btn-success': vm.condition.sound, 'btn-default': !vm.condition.sound }" ng-model="vm.condition.sound"
                      btn-radio="true" uncheckable>必要</label>
                    <label class="btn btn-xs" ng-class="{ 'btn-danger': !vm.condition.sound, 'btn-default': vm.condition.sound }" ng-model="vm.condition.sound"
                      btn-radio="false" uncheckable>不要</label>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group d-md-none">
              <label for="projector">プロジェクター：</label>
              <div class="btn-group">
                <label class="btn btn-xs" ng-class="{ 'btn-success': vm.condition.projector, 'btn-default': !vm.condition.projector }" ng-model="vm.condition.projector"
                  btn-radio="true" uncheckable>必要</label>
                <label class="btn btn-xs" ng-class="{ 'btn-danger': !vm.condition.projector, 'btn-default': vm.condition.projector }" ng-model="vm.condition.projector"
                  btn-radio="false" uncheckable>不要</label>
              </div>
            </div>
            <div class="form-group d-md-none">
              <label for="air_conditional">エアコン：</label>
              <div class="btn-group">
                <label class="btn btn-xs" ng-class="{ 'btn-success': vm.condition.air_conditional, 'btn-default': !vm.condition.air_conditional }"
                  ng-model="vm.condition.air_conditional" btn-radio="true" uncheckable>必要</label>
                <label class="btn btn-xs" ng-class="{ 'btn-danger': !vm.condition.air_conditional, 'btn-default': vm.condition.air_conditional }"
                  ng-model="vm.condition.air_conditional" btn-radio="false" uncheckable>不要</label>
              </div>
            </div>
            <div class="form-group d-md-none">
              <label for="white_board">ホワイトボードー：</label>
              <div class="btn-group">
                <label class="btn btn-xs" ng-class="{ 'btn-success': vm.condition.white_board, 'btn-default': !vm.condition.white_board }"
                  ng-model="vm.condition.white_board" btn-radio="true" uncheckable>必要</label>
                <label class="btn btn-xs" ng-class="{ 'btn-danger': !vm.condition.white_board, 'btn-default': vm.condition.white_board }"
                  ng-model="vm.condition.white_board" btn-radio="false" uncheckable>不要</label>
              </div>
            </div>
            <div class="form-group d-md-none">
              <label for="sound">音響：</label>
              <div class="btn-group">
                <label class="btn btn-xs" ng-class="{ 'btn-success': vm.condition.sound, 'btn-default': !vm.condition.sound }" ng-model="vm.condition.sound"
                  btn-radio="true" uncheckable>必要</label>
                <label class="btn btn-xs" ng-class="{ 'btn-danger': !vm.condition.sound, 'btn-default': vm.condition.sound }" ng-model="vm.condition.sound"
                  btn-radio="false" uncheckable>不要</label>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="form-group mgn text-right">
              <button class="btn btn-success" ui-sref="rooms.list">全室状況</button>
              <button class="btn btn-primary" ng-click="vm.handleNextToRooms()">室選択へ</button>
            </div>
          </div>
        </div>
      </div>

      <div class="booking-rooms" ng-show="vm.step === 2">
        <div class="well">
          <h4>現在の予約状況</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>日時</th>
                <td colspan="4">{{ moment(vm.condition.start).format() | LLL }} ～ {{ moment(vm.condition.end).format() | LLL }}</td>
              </tr>
              <tr>
                <th rowspan="2">詳細条件</th>
                <td colspan="2">席数： {{ vm.condition.seats }}</td>
                <td colspan="2">パソコン： {{ vm.condition.computer }}</td>
                <td></td>
              </tr>
              <tr>
                <td>プロジェクター：{{ vm.condition.projector ? '必要' : '不要' }}</td>
                <td>エアコン：{{ vm.condition.air_conditional ? '必要' : '不要' }}</td>
                <td>ホワイトボードー：{{ vm.condition.white_board ? '必要' : '不要' }}</td>
                <td>音響：{{ vm.condition.sound ? '必要' : '不要' }}</td>
              </tr>
            </table>
          </div>
        </div>
        <p>全 {{ vm.rooms.length }} 室</p>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="text-center w30">#</th>
                <th>名前</th>
                <th class="d-sm-down-none">詳細</th>
                <th class="text-center d-sm-down-none">席</th>
                <th class="text-center d-sm-down-none">プロジェクター</th>
                <th class="text-center d-sm-down-none">エアコン</th>
                <th class="text-center d-sm-down-none">ホワイトボードー</th>
                <th class="text-center d-sm-down-none">パソコン</th>
                <th class="text-center d-sm-down-none">音響</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="room in vm.rooms track by $index" class="clickable" ng-click="vm.hanleSelectRoom(room)">
                <td>{{ $index + 1 }}</td>
                <td>{{ room.name }}</td>
                <td class="d-sm-down-none">{{ room.description }}</td>
                <td class="text-center d-sm-down-none">{{ room.seats }}</td>
                <td class="text-center d-sm-down-none">{{ room.projector ? '有' : '無' }}</td>
                <td class="text-center d-sm-down-none">{{ room.air_conditional ? '有' : '無' }}</td>
                <td class="text-center d-sm-down-none">{{ room.white_board ? '有' : '無' }}</td>
                <td class="text-center d-sm-down-none">{{ room.computer }}</td>
                <td class="text-center d-sm-down-none">{{ room.sound ? '有' : '無' }}</td>
                <td>
                  <button class="btn btn-sm btn-default inside-clickable" ng-click="handleShowImages(room.images)">写真</button>
                  <button class="btn btn-sm btn-primary inside-clickable" ng-click="vm.handleNextToConfirm(room)">予約</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group mgn text-right">
          <button class="btn btn-success" ui-sref="rooms.list">全室状況</button>
          <button class="btn btn-default" ng-click="vm.handleBackToCondition()">戻る</button>
        </div>
      </div>

      <div class="booking-confirm" ng-show="vm.step === 3">
        <div class="well h200">
          <button class="btn btn-primary" ng-click="vm.handleSaveBooking()">予約する</button>
          <button class="btn btn-default" ng-click="vm.handleBackToRooms()">戻る</button>
        </div>
      </div>
      <div class="booking-result" ng-show="vm.step === 4">
        <div class="well h200">
          <h3>Done</h3>
        </div>
      </div>
    </div>
    <div class="d-sm-down-none h100"></div>
  </div>
</div>