<div class="container-fluid animated fadeIn">
  <!-- <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="form-group text-right">
        <button class="btn btn-sm btn-default" ng-click="handleBackScreen('home')">キャンセル</button>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <ul class="booking-step">
        <li ng-class="{ 'completed': vm.step > 1, 'active': vm.step === 1 }">
          <a href="#">条件設定</a>
        </li>
        <li ng-class="{ 'completed': vm.step > 2, 'active': vm.step === 2 }">
          <a href="#">室選択</a>
        </li>
        <li ng-class="{ 'completed': vm.step > 3, 'active': vm.step === 3 }">
          <a href="#">確認</a>
        </li>
      </ul>
      <div class="booking-condition" ng-show="vm.step === 1">
        <div class="panel panel-default">
          <div class="panel-heading">予約の条件を選択</div>
          <div class="panel-body">
            <!-- 時間 -->
            <div class="form-group d-sm-down-none">
              <div class="col-xs-6">
                <label for="start">開始</label>
                <div style="display:block; min-height:290px;">
                  <datepicker ng-model="vm.condition.start_date" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                </div>
              </div>
              <div class="col-xs-6">
                <label for="start">終了</label>
                <div style="display:block; min-height:290px;">
                  <datepicker ng-model="vm.condition.end_date" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="well h200">
          <button class="btn btn-primary" ng-click="vm.handleNextToRooms()">室選択へ</button>
        </div>
      </div>
      <div class="booking-rooms" ng-show="vm.step === 2">
        <div class="well h200">
          <button class="btn btn-primary" ng-click="vm.handleNextToConfirm()">次へ</button>
          <button class="btn btn-default" ng-click="vm.handleBackToCondition()">戻る</button>
        </div>
      </div>
      <div class="booking-confirm" ng-show="vm.step === 3">
        <div class="well h200">
          <button class="btn btn-primary" ng-click="vm.handleSaveBooking()">予約する</button>
          <button class="btn btn-default" ng-click="vm.handleBackToRooms()">戻る</button>
        </div>
      </div>
      <div class="booking-result" ng-show="vm.step === 4">
        <div class="well h200">
          <h3>Done</h3>
        </div>
      </div>
    </div>
  </div>
</div>