<div class="container-fluid animated fadeIn mg100b">
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-4 col-lg-3" ng-if="isAdmin || isAccountant">
      <div class="well">
        <a class="btn btn-default text-muted" ui-sref="departments.create"><i class="fa fa-plus fa-2x"></i></a> 部署追加
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="department-list">

      <div class="department-item-block" ng-repeat="department in vm.departments">
        <div class="department-block-header">
          <div class="department-block-avatar">
            <img class="img-responsive" src="{{:: department.avatar}}">
          </div>
          <div class="department-block-info">
            <a class="department-block-title" ui-sref="departments.view({ departmentId: department._id })">{{:: department.name}}</a>
            <div class="department-block-email">
              <a ng-href="mailto:{{department.email}}">{{::department.email}}</a>
            </div>
            <div class="department-block-action">
              <a class="text-muted" ng-href="mailto:{{department.email}}" tooltip="メール送信"><i class="fa fa-envelope"></i></a>
              <a class="text-muted" ui-sref="departments.view({ departmentId: department._id })" tooltip="詳細"><i class="fa fa-eye"></i></a>
              <a ng-if="isAdmin || isAccountant" class="text-muted" ui-sref="departments.edit({ departmentId: department._id })" tooltip="編集"><i class="fa fa-pencil-square-o"></i></a>
              <a ng-if="isAdmin || isAccountant" class="text-muted" ng-click="vm.handleDeleteDepartment(department)" tooltip="削除"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
        <div class="department-block-leaders">
          <div class="images">
            <p class="font-weight-bold mgn">リーダ（{{ department.leaders.length}}）</p>
            <img class="user-common-avatar" ng-class="{'mg10l-': !$first}" ng-repeat="leader in department.leaders | limitTo: 10" src="{{::leader.profileImageURL}}"
              tooltip="{{::leader.displayName}}">
          </div>
          <div class="buttons">
            <div dropdown dropdown-append-to-body ng-if="department.leaders.length > 0">
              <a dropdown-toggle class="text-muted"><i class="glyphicon glyphicon-option-horizontal"></i></a>
              <ul class="dropdown-menu dropdown-menu-right mg10t-" role="menu">
                <li ng-repeat="leader in department.leaders" class="pd6">
                  <img class="user-common-avatar-small" src="{{:: leader.profileImageURL}}">
                  <span>{{::leader.displayName}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="department-block-members">
          <div class="images">
            <p class="font-weight-bold mgn">メンバー（{{ department.members.length}}）</p>
            <img class="user-common-avatar-small" ng-class="{'mg10l-': !$first}" ng-repeat="member in department.members | limitTo: 10"
              src="{{::member.profileImageURL}}" tooltip="{{::member.displayName}}">
          </div>
          <div class="buttons">
            <div dropdown dropdown-append-to-body ng-if="department.members.length > 0">
              <a dropdown-toggle class="text-muted"><i class="glyphicon glyphicon-option-horizontal"></i></a>
              <ul class="dropdown-menu dropdown-menu-right mg10t-" role="menu">
                <li ng-repeat="member in department.members" class="pd6">
                  <img class="user-common-avatar" src="{{:: member.profileImageURL}}">
                  <span>{{::member.displayName}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group text-right">
        <a class="btn btn-primary" ui-sref="manager.departments.create">追加</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center w30">#</th>
              <th class="text-center w50">写真</th>
              <th>名前</th>
              <th>メール</th>
              <th>部員数</th>
              <th class="text-center w50">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="vm.departments.length === 0">
              <td colspan="6">データが見つかりません。</td>
            </tr>

            <tr ng-repeat="department in vm.departments track by $index" class="clickable" ng-click="vm.hanleSelectDepartment(department)">
              <td class="text-center w30">{{ $index + 1 }}</td>
              <td class="text-center w50">
                <a class="inside-clickable" ng-click="handleShowImage(department.avatar)">
                  <img class="user-common-avatar" src="{{ department.avatar }}">
                </a>
              </td>
              <td>{{ department.name }}</td>
              <td>{{ department.email }}</td>
              <td>{{ department.members.length }}</td>
              <td class="text-center w50">
                <button class="btn btn-xs btn-danger inside-clickable" ng-click="vm.handleDeleteDepartment(department)">削除</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>