<div class="container-fluid animated fadeIn mg50t">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="user-detail-block">
        <div class="user-basic-info">
          <div class="user-avatar">
            <img src="{{:: vm.user.profileImageURL }}">
          </div>
          <div class="user-info-block">
            <h3>{{:: vm.user.displayName}}</h3>
            <table>
              <tr>
                <td class="pd10r">
                  <i class="fa fa-envelope"></i> メール</td>
                <td>
                  <a ng-href="mailto:{{ vm.user.email }}"> {{:: vm.user.email }}</a>
                </td>
              </tr>
            </table>
          </div>

          <!-- <div class="user-tools">
            <a class="user-tool-button" ng-href="mailto:{{ vm.user.email }}" tooltip-placement="bottom" tooltip="メール送信">
              <i class="fa fa-envelope"></i>
            </a>
            <a class="user-tool-button" ui-sref="messages.create({ user: vm.user._id })" tooltip-placement="bottom" tooltip="メッセージ送信">
              <i class="fa fa-commenting"></i>
            </a>
            <div class="user-tool-button" dropdown dropdown-append-to-body>
              <a class="w100p h100p" dropdown-toggle>
                <i class="glyphicon glyphicon-option-vertical"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                  <a ui-sref="admin.payments.reviews({ user: vm.user._id, status: 1 })">
                    <i class="fa fa-jpy"></i> 清算表確認</a>
                </li>
                <li ng-show="vm.user.status === 1">
                  <a ng-click="vm.handleRetired()">
                    <i class="fa fa-hand-paper-o"></i> 退職済み</a>
                </li>
                <li ng-show="vm.user.status === 2">
                  <a ng-click="vm.handleReWorking()">
                    <i class="fa fa-handshake-o"></i> 在職中</a>
                </li>
                <li>
                  <a ng-click="vm.handleChangePassword()">
                    <i class="fa fa-lock"></i> パスワード変更</a>
                </li>
                <li>
                  <a ng-click="vm.handleChangeRoles()">
                    <i class="fa fa-sitemap"></i> 役割変更</a>
                </li>
                <li>
                  <a ng-click="vm.handleChangeDepartment()">
                    <i class="fa fa-users"></i> 部署変更</a>
                </li>
                <li>
                  <a ng-click="vm.handleLogicDeleteUser()">
                    <i class="fa fa-user-times"></i> 削除</a>
                </li>
                <li ng-show="vm.user.status === 3 && isAdmin">
                  <a ng-click="vm.handleResetUser()">
                    <i class="fa fa-user-times"></i> 復元</a>
                </li>x
                <li ng-if="isAdmin">
                  <a ng-click="vm.handleDatabaseDeleteUser()">
                    <i class="fa fa-trash"></i> 完全削除</a>
                </li>
              </ul>
            </div>
        </div> -->
        </div>
      </div>
      <hr>
      <!-- FORM1 -->
      <div class="form-group text-right">
        <button class="btn btn-sm btn-default" ng-click="handleBackScreen('accountant.users.list')">キャンセル</button>
        <button class="btn btn-sm btn-primary" ng-click="vm.handleSaveUser(vm.form.userForm.$valid)">保存</button>
      </div>

      <form name="vm.form.userForm" novalidate>
        <!-- 部署 状態 -->
        <div class="form-group" show-errors>
          <div class="col-sm-6">
            <label for="department">部署</label>
            <select name="department" class="form-control" ng-model="vm.user.department">
              <option value="empty" ng-selected="!vm.user.department">未設定</option>
              <option ng-repeat="department in vm.departments" value="{{ department._id }}" ng-selected="department._id.toString() === vm.user.department.toString()">{{ department.name }}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="status">状態</label>
            <select name="status" class="form-control" ng-model="vm.user.status" convert-to-number>
              <option value="1">在職中</option>
              <option value="2">退職済</option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- 社員番号 納税番号 -->
        <div class="form-group" show-errors>
          <div class="col-sm-6">
            <label for="employeeId">社員番号</label>
            <input type="text" name="employeeId" class="form-control" ng-model="vm.user.company.employeeId" placeholder="社員番号" />
          </div>
          <div class="col-sm-6">
            <label for="taxId">納税番号</label>
            <input type="text" name="taxId" class="form-control" ng-model="vm.user.company.taxId" placeholder="納税番号" />
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- 給料 有給休暇の日数 -->
        <div class="form-group" show-errors>
          <div class="col-sm-6">
            <label for="salary">給料</label>
            <input type="number" name="salary" class="form-control" ng-model="vm.user.company.salary" placeholder="給料" />
          </div>
          <div class="col-sm-6">
            <label for="paidHolidayCnt">有給休暇残日</label>
            <input type="number" name="paidHolidayCnt" class="form-control" ng-model="vm.user.company.paidHolidayCnt" placeholder="有給休暇残日"
            />
          </div>
          <div class="clearfix"></div>
        </div>
      </form>

      <div class="form-group text-right mg5t">
        <button class="btn btn-sm btn-default" ng-click="handleBackScreen('accountant.users.list')">キャンセル</button>
        <button class="btn btn-sm btn-primary" ng-click="vm.handleSaveUser(vm.form.userForm.$valid)">保存</button>
      </div>
    </div>
  </div>
</div>