<div class="container-fluid animated fadeIn pd100b">
  <!-- 検索ツール -->
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <accordion close-others="true" ng-init="openTools = false;">
        <accordion-group is-open="openTools">
          <accordion-heading>
            <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openTools}"></i> 検索ツール
          </accordion-heading>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="search">検索キー</label>
              <input name="search" type="text" ng-model="vm.condition.search" class="form-control" placeholder="検索キー">
            </div>
            <div class="col-sm-6">
              <label for="department">部署</label>
              <select name="department" class="form-control" ng-model="vm.condition.department">
                <option value>全て</option>
                <option value="empty">未設定</option>
                <option ng-repeat="department in vm.departments" value="{{ department._id }}" ng-selected="department._id.toString() === vm.condition.department.toString()">{{ department.name }}</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group">
            <div class="col-sm-6">
              <label for="sort">並び順</label>
              <select name="sort" class="form-control" ng-model="vm.condition.sort">
                <option value="-created">登録の新しい順番</option>
                <option value="created">登録の古い順番</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="limit">表示件数</label>
              <input name="limit" type="number" ng-model="vm.condition.limit" class="form-control">
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group text-right">
            <button class="btn btn-sm btn-danger" ng-click="vm.handleClearCondition()">クリア</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.handleStartSearch()">検索</button>
          </div>

        </accordion-group>
      </accordion>
    </div>
  </div>
  <!-- ユーザー一覧 -->
  <div class="row mg10t">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p>全 {{ vm.total }} 件</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>社員番号</th>
              <th>氏名</th>
              <th>メール</th>
              <th>部署</th>
              <th>状態</th>
              <th>納税番号</th>
              <th>給料</th>
              <th>有給休暇残日</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="vm.employees.length === 0">
              <td colspan="8">データが見つかりません。</td>
            </tr>

            <tr ng-repeat="employee in vm.employees track by $index" class="clickable" ng-click="vm.hanleSelectEmployee(employee)">
              <td>{{ employee.company.employeeId }}</td>
              <td>
                <img class="user-common-avatar-small" src="{{ employee.profileImageURL }}">
                <span>{{ employee.displayName }}</span>
              </td>
              <td>{{ employee.email }}</td>
              <td>
                <span ng-hide="employee.departments.length">未設定</span>
                <span ng-repeat="department in employee.departments">{{ department.name }} {{ !$last ? ', ' : '' }}</span>
              </td>
              <td>{{ employee.status | UserStatusFilter }}</td>
              <td>{{ employee.company.taxId }}</td>
              <td>{{ employee.company.salary }}</td>
              <td>{{ employee.company.paidHolidayCnt }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <pagination total-items="vm.total" ng-model="vm.page" max-size="5" boundary-links="true" items-per-page="vm.condition.limit"
        ng-change="vm.handlePageChanged()" previous-text="前" next-text="次" first-text="最初" last-text="最後"></pagination>
    </div>
  </div>

</div>