<div class="chats">
  <div class="chat-toolbar">
    <h4>Toolbar</h4>
  </div>
  <div class="chat-content">
    <div class="chat-lefside" infinite-scroll="vm.handleLoadDatas()" infinite-scroll-distance='1'>
      <tabset justified="true">
        <tab select="vm.handleTabChanged(1)" heading="チャット">
          <div class="list-group chat-list">
            <a ng-repeat="room in vm.rooms" ng-click="vm.handleRoomSelected(room)" class="list-group-item">
              <div class="chat-room">
                <img src="{{ room.avatar }}" class="img-round">
                <span>{{ room.name }}</span>
              </div>
            </a>
          </div>
        </tab>
        <tab select="vm.handleTabChanged(2)" heading="ユーザー">
          <div class="list-group chat-list">
            <a ng-repeat="user in vm.users" ng-click="vm.handleUserSelected(user)" class="list-group-item">
              <div class="chat-user">
                <img src="{{ user.profileImageURL }}" class="img-round">
                <span>{{ user.displayName }}</span>
              </div>
            </a>
          </div>
        </tab>
        <tab select="vm.handleTabChanged(3)" heading="検索"></tab>
      </tabset>
    </div>
    <div class="chat-center">
      <div class="chat-messages"></div>
      <div class="chat-input"></div>
    </div>
    <div class="chat-rightside"></div>
  </div>
</div>