<div class="chats">
  <div class="chat-toolbar">
    <h4>Toolbar</h4>
  </div>
  <div class="chat-content">
    <div class="chat-lefside" infinite-scroll="vm.handleLoadDatas()" infinite-scroll-distance='1'>
      <tabset justified="true">
        <tab select="vm.handleTabChanged(1)">
          <tab-heading>チャット
            <!-- <i class="glyphicon glyphicon-bell"></i> -->
          </tab-heading>

          <a ng-repeat="room in vm.rooms" ng-click="vm.handleRoomSelected(room)" class="list-group-item">
            <div class="chat-room">
              <img src="{{ room.avatar }}" class="img-round">
              <span>{{ room.name }}</span>
            </div>
          </a>
        </tab>
        <tab select="vm.handleTabChanged(2)">
          <tab-heading>オンライン中
            <!-- <i class="glyphicon glyphicon-bell"></i> -->
          </tab-heading>

          <div class="list-group chat-onlines">
            <a ng-repeat="user in vm.onlines" ng-click="vm.handleUserSelected(user)" class="list-group-item">
              <div class="chat-user">
                <img src="{{ user.profileImageURL }}" class="img-round">
                <span>{{ user.displayName }}</span>
              </div>
            </a>
          </div>
        </tab>
        <tab select="vm.handleTabChanged(3)">
          <tab-heading>検索
            <!-- <i class="glyphicon glyphicon-bell"></i> -->
          </tab-heading>
          3
        </tab>
      </tabset>
    </div>
    <div class="chat-center"></div>
    <div class="chat-rightside"></div>
  </div>
</div>