<div class="chat-screen">
  <div class="chat-lefside">
    <div class="leftside-toolbar"></div>
    <div class="leftside-wrapper">
      <div class="leftside-container">
        <div class="leftside-content" infinite-scroll="vm.handleLoadRooms()" infinite-scroll-distance='1'>
          <div class="list-group chat-list">
            <a ng-repeat="room in vm.rooms | orderBy: '-updated'" ng-click="vm.handleRoomSelected(room)" class="list-group-item" ng-class="{ 'active': vm.room._id === room._id}">
              <div class="item-content">
                <img src="{{ room.avatar }}" class="img-round">
                <span>{{ room.name }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-center">
    <div class="center-toolbar">
      <h1 class="room-title">{{ vm.room.name }}</h1>
    </div>
    <div class="center-wrapper">
      <div class="center-container">
        <div class="center-content">
          <ul class="messages">
            <li ng-repeat="message in vm.messages | orderBy: 'created'" class="clearfix" ng-class="{'left': message.self, 'right': !message.self }">
              <span class="chat-img">
                <img src="{{ message.user.profileImageURL }}" alt="{{ message.user.displayName }}" />
              </span>
              <div class="chat-body clearfix">
                <div class="header clearfix">
                  <strong class="primary-font message-owner">{{ message.user.displayName }}</strong>
                  <small class="text-muted message-time">
                    <span class="glyphicon glyphicon-time"></span>
                    <span am-time-ago="message.created"></span>
                  </small>
                </div>
                <p class="message-content" ng-bind-html="message.content | nl2br"></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="center-input">
      <div class="input-block">
        <div class="input-toolbar">
          <button class="btn btn-xs btn-primary" ng-click="vm.handleSendMessage()">送信</button>
        </div>
        <div class="input-type">
          <textarea focus-me="true" class="input-type-area" placeholder="ここにメッセージ内容を入力(Shift + Enterキーで送信)" ng-model="vm.message"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-rightside" infinite-scroll="vm.handleLoadUsers()" infinite-scroll-distance='3'>
    <div class="rightside-toolbar"></div>
    <div class="rightside-wrapper">
      <div class="rightside-container">
        <div class="rightside-content">
          <div class="list-group chat-list">
            <a ng-repeat="user in vm.users" ng-click="vm.handleUserSelected(user)" class="list-group-item">
              <div class="item-content">
                <img src="{{ user.profileImageURL }}" class="img-round">
                <span>{{ user.displayName }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>