<div class="container-fluid animated fadeIn mg12t">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-detail-block">
        <div class="user-basic-info">
          <div class="user-avatar">
            <img src="{{:: vm.profile.profileImageURL }}">
          </div>
          <div class="user-info-block">
            <h3>{{:: vm.profile.displayName}}</h3>
            <table>
              <tr>
                <td class="pd10r">
                  <i class="fa fa-envelope"></i> メール</td>
                <td>
                  <a ng-href="mailto:{{vm.profile.email}}"> {{:: vm.profile.email }}</a>
                </td>
              </tr>
              <tr>
                <td class="pd10r">
                  <i class="fa fa-users"></i> 部署</td>
                <td>{{ vm.profile.department ? vm.profile.department.name : '未設定'}}</td>
              </tr>
              <tr>
                <td class="pd10r">
                  <i class="fa fa-mobile"></i> 電話番号</td>
                <td>
                  <span ng-show="vm.profile.private.public_phone && vm.profile.private.phone">{{ vm.profile.private.phone }}</span>
                  <span ng-show="vm.profile.private.public_phone && !vm.profile.private.phone">未設定</span>
                  <span ng-show="!vm.profile.private.public_phone">非公開</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="user-tools">
            <!-- Send email -->
            <a class="user-tool-button" ng-href="mailto:{{vm.profile.email}}" tooltip-placement="bottom" tooltip="メール送信">
              <i class="fa fa-envelope"></i>
            </a>
            <!-- Send private message to current user -->
            <a class="user-tool-button" ng-click="vm.handleSendMessage()" tooltip-placement="bottom" tooltip="メッセージ送信">
              <i class="fa fa-commenting"></i>
            </a>
            <!-- Edit info user -->
            <a class="user-tool-button" ui-sref="admin.users.edit({ userId: vm.profile._id })" tooltip-placement="bottom" tooltip="編集">
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <!-- View timesheet of current user -->
            <a class="user-tool-button" ui-sref="admin.workmonths.reviews({ user: vm.profile._id })" tooltip-placement="bottom" tooltip="勤務表">
              <i class="fa fa-calendar"></i>
            </a>
            <!-- Options menu -->
            <div class="user-tool-button" dropdown dropdown-append-to-body>
              <a class="w100p h100p" dropdown-toggle>
                <i class="glyphicon glyphicon-option-vertical"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <!-- Review payments -->
                <li>
                  <a ui-sref="admin.payments.reviews({ user: vm.profile._id, status: 1 })">
                    <i class="fa fa-jpy"></i> 清算表確認</a>
                </li>
                <!-- Change status to retired -->
                <li ng-show="vm.profile.status === 1">
                  <a ng-click="vm.handleRetired()">
                    <i class="fa fa-hand-paper-o"></i> 退職済み</a>
                </li>
                <!-- Change status to working -->
                <li ng-show="vm.profile.status === 2">
                  <a ng-click="vm.handleReWorking()">
                    <i class="fa fa-handshake-o"></i> 在職中</a>
                </li>
                <!-- Change password -->
                <li>
                  <a ng-click="vm.handleChangePassword()">
                    <i class="fa fa-lock"></i> パスワード変更</a>
                </li>
                <!-- Change roles -->
                <li>
                  <a ng-click="vm.handleChangeRoles()">
                    <i class="fa fa-sitemap"></i> 役割変更</a>
                </li>
                <!-- Change department -->
                <li>
                  <a ng-click="vm.handleChangeDepartment()">
                    <i class="fa fa-users"></i> 部署変更</a>
                </li>
                <!-- Logic delete -->
                <li>
                  <a ng-click="vm.handleLogicDeleteUser()">
                    <i class="fa fa-user-times"></i> 削除</a>
                </li>
                <!-- Restore account -->
                <li ng-show="vm.profile.status === 3 && isAdmin">
                  <a ng-click="vm.handleResetUser()">
                    <i class="fa fa-user-times"></i> 復元</a>
                </li>
                <!-- Remove -->
                <li ng-if="isAdmin">
                  <a ng-click="vm.handleDatabaseDeleteUser()">
                    <i class="fa fa-trash"></i> 完全削除</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <hr class="mg12y">
    <div class="col-xs-12">
      <tabset class="modified-tab" justified="true">
        <tab heading="社員情報">
          <table class="table">
            <tr>
              <td>氏名</td>
              <td>{{:: vm.profile.displayName }}</td>
            </tr>
            <tr>
              <td>メール</td>
              <td>{{:: vm.profile.email }}</td>
            </tr>
            <tr>
              <td>部署</td>
              <td>{{ vm.profile.department ? vm.profile.department.name : '未設定'}}</td>
            </tr>
            <tr>
              <td>性別</td>
              <td>{{:: vm.profile.private.sex === 1 ? '男' : '女' }}</td>
              <td>
                <span ng-show="vm.profile.private.public_sex && vm.profile.private.sex">{{ vm.profile.private.sex === 1 ? '男' : '女' }}</span>
                <span ng-show="vm.profile.private.public_sex && !vm.profile.private.sex">未設定</span>
                <span ng-show="!vm.profile.private.public_sex">非公開</span>
              </td>
            </tr>
            <tr>
              <td>生年月日</td>
              <td>
                <span ng-show="vm.profile.private.public_birthdate && vm.profile.private.birthdate">{{ vm.profile.private.birthdate | LL }}</span>
                <span ng-show="vm.profile.private.public_birthdate && !vm.profile.private.birthdate">未設定</span>
                <span ng-show="!vm.profile.private.public_birthdate">非公開</span>
              </td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td>
                <span ng-show="vm.profile.private.public_phone && vm.profile.private.phone">{{ vm.profile.private.phone }}</span>
                <span ng-show="vm.profile.private.public_phone && !vm.profile.private.phone">未設定</span>
                <span ng-show="!vm.profile.private.public_phone">非公開</span>
              </td>
            </tr>
            <tr>
              <td>住所</td>
              <td>
                <span ng-show="vm.profile.private.public_address && vm.profile.private.address">{{ vm.profile.private.address }}</span>
                <span ng-show="vm.profile.private.public_address && !vm.profile.private.address">未設定</span>
                <span ng-show="!vm.profile.private.public_address">非公開</span>
              </td>
            </tr>
            <tr>
              <td>趣味</td>
              <td>
                <span ng-show="vm.profile.private.public_hobby && vm.profile.private.hobby" ng-bind-html="vm.profile.private.hobby | nl2bl"></span>
                <span ng-show="vm.profile.private.public_hobby && !vm.profile.private.hobby">未設定</span>
                <span ng-show="!vm.profile.private.public_hobby">非公開</span>
              </td>
            </tr>
            <tr>
              <td>自己紹介</td>
              <td>
                <span ng-show="vm.profile.private.public_intro && vm.profile.private.intro" ng-bind-html="vm.profile.private.intro | nl2bl"></span>
                <span ng-show="vm.profile.private.public_intro && !vm.profile.private.intro">未設定</span>
                <span ng-show="!vm.profile.private.public_intro">非公開</span>
              </td>
            </tr>
          </table>
        </tab>
        <tab heading="操作履歴">
          <div class="h200">未完成</div>
        </tab>
        <tab heading="プロジェクト">
          <div class="h200">未完成</div>
        </tab>
        <tab heading="通勤履歴">
          <div class="h200">未完成</div>
        </tab>
      </tabset>
    </div>
  </div>
</div>