<div class="container-fluid animated fadeIn mg12t">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="user-detail-block">
        <div class="user-basic-info">
          <div class="user-avatar">
            <a ng-click="handleShowImage(imageURL)">
              <img src="{{ imageURL }}" alt="{{ user.displayName }}">
            </a>
          </div>
          <div class="user-info-block">
            <h3>{{ user.displayName}}</h3>
            <table>
              <tr>
                <td class="pd10r">
                  <i class="fa fa-envelope"></i> メール</td>
                <td>
                  <a ng-href="mailto:{{user.email}}"> {{:: user.email }}</a>
                </td>
              </tr>
              <tr>
                <td class="pd10r">
                  <i class="fa fa-users"></i> 部署</td>
                <td>{{ user.department ? user.department.name : '未設定'}}</td>
              </tr>
            </table>
            <div class="form-group" ng-hide="uploader.queue.length">
              <span class="btn btn-default btn-sm btn-upload-file">
                写真選択
                <input type="file" nv-file-select uploader="uploader">
              </span>
            </div>
            <div class="form-group" ng-show="uploader.queue.length">
              <button class="btn btn-primary btn-sm" ng-click="handleUploadProfilePicture()">保存</button>
              <button class="btn btn-default btn-sm" ng-click="cancelUpload()">キャンセル</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h3>パスワード変更</h3>
      <form name="passwordForm" ng-submit="handleChangePassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off">
        <div class="form-group" show-errors>
          <label for="currentPassword">現在のパスワード</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="passwordDetails.currentPassword"
            placeholder="現在のパスワード" required>
          <div ng-messages="passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">現在のパスワードを入力してください！</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">新しいパスワード</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="新しいパスワード"
            password-validator required>
          <div ng-messages="passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">新しいパスワードを入力してください！</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{ passwordError }}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">確認パスワード</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword"
            placeholder="確認パスワード" password-verify="passwordDetails.newPassword" required>
          <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">もう一度新しいパスワードを入力してください！</p>
            <p class="help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>新しいパスワードが一致していません。</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <i ng-show="password_busy" class="fa fa-spinner fa-pulse fa-fw"></i> パスワード変更</button>
          <a class="mg10l" ui-sref="profile.forget">パスワードを忘れた</a>
        </div>
      </form>
      <hr>
      <h3>個人情報</h3>
      <div class="form-group">
        <label for="birthdate">生年月日</label>
        <div class="btn-group pull-right">
          <label class="btn btn-xs" ng-class="{ 'btn-success': userInfo.private.public_birthdate, 'btn-default': !userInfo.private.public_birthdate }"
            ng-model="userInfo.private.public_birthdate" btn-radio="true">公開</label>
          <label class="btn btn-xs" ng-class="{ 'btn-warning': !userInfo.private.public_birthdate, 'btn-default': userInfo.private.public_birthdate }"
            ng-model="userInfo.private.public_birthdate" btn-radio="false">非公開</label>
        </div>
        <div class="clearfix"></div>
        <div class="input-group" ng-init="open = false;">
          <input name="date" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="new_birthdate" is-open="open"
            close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body show-weeks="false" readonly="true"
          />
          <span class="input-group-btn bdnl">
            <button type="button" class="btn btn-default bdnl" ng-click="open = true;">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>

      </div>
      <div class="form-group">
        <label for="intro">自己紹介</label>
        <div class="btn-group pull-right">
          <label class="btn btn-xs" ng-class="{ 'btn-success': userInfo.private.public_intro, 'btn-default': !userInfo.private.public_intro }"
            ng-model="userInfo.private.public_intro" btn-radio="true">公開</label>
          <label class="btn btn-xs" ng-class="{ 'btn-warning': !userInfo.private.public_intro, 'btn-default': userInfo.private.public_intro }"
            ng-model="userInfo.private.public_intro" btn-radio="false">非公開</label>
        </div>
        <div class="clearfix"></div>
        <textarea name="intro" class="form-control h100" ng-model="userInfo.private.intro"></textarea>
      </div>
      <div class="form-group">
        <label for="address">住所</label>
        <div class="btn-group pull-right">
          <label class="btn btn-xs" ng-class="{ 'btn-success': userInfo.private.public_address, 'btn-default': !userInfo.private.public_address }"
            ng-model="userInfo.private.public_address" btn-radio="true">公開</label>
          <label class="btn btn-xs" ng-class="{ 'btn-warning': !userInfo.private.public_address, 'btn-default': userInfo.private.public_address }"
            ng-model="userInfo.private.public_address" btn-radio="false">非公開</label>
        </div>
        <div class="clearfix"></div>
        <input name="address" type="text" class="form-control" ng-model="userInfo.private.address" />
      </div>
      <div class="form-group">
        <label for="phone">電話番号</label>
        <div class="btn-group pull-right">
          <label class="btn btn-xs" ng-class="{ 'btn-success': userInfo.private.public_phone, 'btn-default': !userInfo.private.public_phone }"
            ng-model="userInfo.private.public_phone" btn-radio="true">公開</label>
          <label class="btn btn-xs" ng-class="{ 'btn-warning': !userInfo.private.public_phone, 'btn-default': userInfo.private.public_phone }"
            ng-model="userInfo.private.public_phone" btn-radio="false">非公開</label>
        </div>
        <div class="clearfix"></div>
        <input name="phone" type="number" class="form-control" ng-model="userInfo.private.phone" />
      </div>
      <div class="form-group">
        <label for="sex">性別</label>
        <div class="btn-group pull-right">
          <label class="btn btn-xs" ng-class="{ 'btn-success': userInfo.private.public_sex, 'btn-default': !userInfo.private.public_sex }"
            ng-model="userInfo.private.public_sex" btn-radio="true">公開</label>
          <label class="btn btn-xs" ng-class="{ 'btn-warning': !userInfo.private.public_sex, 'btn-default': userInfo.private.public_sex }"
            ng-model="userInfo.private.public_sex" btn-radio="false">非公開</label>
        </div>
        <div class="clearfix"></div>
        <select class="form-control" ng-model="userInfo.private.sex" convert-to-number>
          <option value="1">男</option>
          <option value="2">女</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hobby">興味</label>
        <div class="btn-group pull-right">
          <label class="btn btn-xs" ng-class="{ 'btn-success': userInfo.private.public_hobby, 'btn-default': !userInfo.private.public_hobby }"
            ng-model="userInfo.private.public_hobby" btn-radio="true">公開</label>
          <label class="btn btn-xs" ng-class="{ 'btn-warning': !userInfo.private.public_hobby, 'btn-default': userInfo.private.public_hobby }"
            ng-model="userInfo.private.public_hobby" btn-radio="false">非公開</label>
        </div>
        <div class="clearfix"></div>
        <textarea name="hobby" class="form-control h80" ng-model="userInfo.private.hobby"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-click="handleSaveInfo()">
          <i ng-show="info_busy" class="fa fa-spinner fa-pulse fa-fw"></i> 保存</button>
      </div>
    </div>
  </div>
</div>