<div class="container-fluid animated fadeIn">
  <!-- 検索ツール -->
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <accordion close-others="true" ng-init="openTools = false;">
        <accordion-group is-open="openTools">
          <accordion-heading>
            <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openTools}"></i> 検索ツール
          </accordion-heading>
          <!-- 検索キー -->
          <div class="form-group">
            <div class="col-sm-12">
              <label for="search">検索キー</label>
              <input name="search" type="text" ng-model="vm.condition.search" class="form-control" placeholder="検索キー">
            </div>
            <div class="clearfix"></div>
          </div>

          <!-- 検索範囲 -->
          <div class="form-group">
            <div class="col-sm-6" ng-init="startDatePickerOpen = false;">
              <label for="start">開始時点</label>
              <div class="input-group">
                <input name="start" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.start" is-open="startDatePickerOpen"
                  close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body placeholder="開始" show-weeks="false"
                  readonly="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="startDatePickerOpen = true;">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-sm-6" ng-init="endDatePickerOpen = false;">
              <label for="end">終了時点</label>
              <div class="input-group">
                <input name="end" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.end" is-open="endDatePickerOpen"
                  close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body placeholder="終了" show-weeks="false"
                  readonly="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="endDatePickerOpen = true;">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <!-- Other  -->
          <div class="form-group">
            <div class="col-sm-12 col-md-6">
              <label for="user">社員</label>
              <tags-input class="my-tags" ng-model="vm.condition.users" key-property="_id" template="users_tags.html" display-property="displayName"
                placeholder="社員検索" replace-spaces-with-dashes="false">
                <auto-complete source="vm.handleSearchUsers($query)" min-length="1" load-on-focus="true" load-on-empty="true" max-results-to-show="32"
                  template="autocomplete.html"></auto-complete>
              </tags-input>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="status">状態</label>
              <select name="status" class="form-control" ng-model="vm.condition.status">
                <option value>全て</option>
                <option value="1">未申請</option>
                <option value="2">申請中</option>
                <option value="3">承認</option>
                <option value="4">拒否</option>
                <option value="5" ng-if="isAccountant || isAdmin">取り消し申請中</option>
                <option value="6">完了</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="roles">役割</label>
              <select name="roles" class="form-control" ng-model="vm.condition.roles" ng-list>
                <option value>指定しない</option>
                <option value="user">一般社員</option>
                <option value="user,accountant" ng-if="isAccountant || isAdmin">経理</option>
                <option value="user,manager" ng-if="isAccountant || isAdmin">マネージャ</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- 表示 -->
          <div class="form-group">
            <div class="col-sm-6">
              <label for="sort">並び順</label>
              <select name="sort" class="form-control" ng-model="vm.condition.sort">
                <option value="-created">登録の新しい順番</option>
                <option value="created">登録の古い順番</option>
                <option value="-duration">期間の長い順番</option>
                <option value="duration">期間の短い順番</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="limit">表示件数</label>
              <input name="limit" type="number" ng-model="vm.condition.limit" class="form-control">
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- ボタン -->
          <div class="form-group text-right">
            <button class="btn btn-sm btn-danger" ng-click="vm.handleClearCondition()">クリア</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.handleStartSearch()">検索</button>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <!-- 休暇検索結果 -->
  <div class="row mg10t">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p>全 {{ vm.total }} 件</p>
      <!-- 休暇一覧 -->
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="w50 text-center">操作</th>
            <th>社員名</th>
            <th>形態</th>
            <th>開始・終了</th>
            <th>期間</th>
            <th>事由</th>
            <th class="w150 text-center">状態</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="vm.workrests.length === 0">
            <td colspan="7">データが見つかりません。</td>
          </tr>
          <tr ng-repeat="workrest in vm.workrests track by $index" class="clickable" ng-click="vm.hanleSelectWorkrest(workrest)">
            <td class="w50 text-center">
              <div dropdown dropdown-append-to-body>
                <a dropdown-toggle class="btn btn-xs btn-default inside-clickable">
                  <i class="glyphicon glyphicon-option-horizontal"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                  <!-- Xem detail Workrest -->
                  <li>
                    <a ui-sref="admin.workrests.review({ workrestId: workrest._id })">詳細確認</a>
                  </li>
                  <li ng-if="workrest.status === 2">
                    <a ng-click="vm.handleApproveWorkrest(workrest)">承認</a>
                  </li>
                  <li ng-if="workrest.status === 2">
                    <a ng-click="vm.handleRejectWorkrest(workrest)">拒否</a>
                  </li>
                  <!-- Gửi nhờ xóa rest -->
                  <li ng-if="workrest.status === 5">
                    <a ng-click="vm.handleDeleteWorkrest(workrest)">取り消し</a>
                  </li>
                  <li>
                    <a ng-click="vm.handleViewHistory(workrest)">歴史</a>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <img class="user-common-avatar-small" src="{{ workrest.user.profileImageURL }}">
              <a class="inside-clickable" ng-click="handleViewDetailUser(workrest.user)">{{ workrest.user.displayName }}</a>
            </td>
            <td>{{ workrest.holiday.name }}</td>
            <td>
              <div>{{ workrest.start | LL }}</div>
              <div>{{ workrest.end | LL }}</div>
            </td>
            <td>{{ workrest.duration }}</td>
            <td>
              <p ng-bind-html="workrest.description | nl2br"></p>
              <p class="text-danger">{{ workrest.warning }}</p>
            </td>
            <td>{{ workrest.status | StatusFilter}}</td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <pagination total-items="vm.total" ng-model="vm.page" max-size="5" boundary-links="true" items-per-page="vm.condition.limit"
        ng-change="vm.handlePageChanged()" previous-text="前" next-text="次" first-text="最初" last-text="最後"></pagination>
    </div>
  </div>
  <!-- 履歴 -->
  <div class="row" ng-show="vm.isShowHistory">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="form-group text-right">
        <button class="btn btn-warning btn-sm" ng-click="vm.isShowHistory = false;">歴史表を閉じる</button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th class="w30 text-center">#</th>
              <th>日付</th>
              <th>操作</th>
              <th>操作者</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="history in vm.historys">
              <td class="w30 text-center">{{ $index + 1 }}</td>
              <td>{{ history.timing | LLLL }}</td>
              <td>{{ history.action | ActionFilter }}</td>
              <td>
                <a ng-click="handleViewDetailUser(history.user)">{{history.user.displayName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Lịch -->
  <!-- <div class="row">
    <div class="col-xs-12">
      <accordion close-others="true" ng-init="openAdvance = false;">
        <accordion-group is-open="openAdvance">
          <accordion-heading>
            <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openAdvance}"></i> カーレンダー
          </accordion-heading>
          <div class="row text-center">
            <div class="btn-group">
              <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" decrement="vm.calendar.view">前へ</button>
              <button class="btn btn-default btn-sm" mwl-date-modifier date="vm.calendar.viewDate" set-to-today>本日</button>
              <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" increment="vm.calendar.view">次へ</button>
            </div>
          </div>
          <h3 class="text-center">{{ vm.calendar.title }}</h3>
          <mwl-calendar events="vm.events" view="vm.calendar.view" view-date="vm.calendar.viewDate" view-title="vm.calendar.title"
            cell-modifier="vm.calendar.cellModifier(calendarCell)" on-view-change-click="vm.handleCalendarEventClicked(calendarDate)"
            on-date-range-select="vm.handleCalendarRangeSelected(calendarRangeStartDate, calendarRangeEndDate)" on-timespan-click="vm.handleCalendarClicked(calendarDate)"
            on-event-click="vm.hanleSelectWorkrestOnCalendar(calendarEvent)">
          </mwl-calendar>
        </accordion-group>
      </accordion>
    </div>
  </div> -->
</div>


<script type="text/ng-template" id="users_tags.html">
  <a ui-sref="users.view({ userId: data._id })">{{ data.displayName }}</a>
  <a class="remove-button" ng-click="$removeTag()" ng-bind="$$removeTagSymbol"></a>
</script>

<script type="text/ng-template" id="autocomplete.html">
  <div class="my-autocomplete">
    <div class="left-panel">
      <img src="{{ data.profileImageURL || data.avatar }}" />
    </div>
    <div class="right-panel">
      <span>{{ data.displayName || data.name }}</span>
      <span>{{ data.email }}</span>
    </div>
  </div>
</script>