<aside class="aside-menu" id="aside-menu" ng-controller="HeaderController">
  <div class="aside-profile" ng-if="isLogged">
    <img class="aside-avatar pull-left" ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" />
    <span class="h4-text">{{user.displayName}}</span>
    <div class="clearfix"></div>
  </div>
  <!--<div class="aside-search">
    <div class="quick-search">
      <input ng-model="search_key" type="text" class="form-control quick-search-input" name="search" placeholder="{{ 'LB_SEARCH' | translate }}">
      <a class="quick-search-submit" type="submit" ng-click="search()"><i class="fa fa-search"></i></a>
      <a class="quick-search-advance" type="button" ui-sref="search"><i class="fa fa-cogs"></i></a>
    </div>
  </div>-->
  <nav class="aside-nav">
    <ul class="nav">
      <li class="nav-title" ng-show="isLogged">コミュニケーション</li>
      <li class="nav-item" ng-show="isLogged">
        <a class="nav-link" ui-sref-active="active" ui-sref="notifs.list">
          <i class="fa fa-bell-o"></i> お知らせ
          <span class="badge" ng-class="{'badge-danger': Notifications.cnt > 0}">{{ Notifications.cnt }}</span>
        </a>
      </li>
      <li class="nav-item" ng-show="isLogged">
        <a class="nav-link" ui-sref-active="active" ui-sref="messages.list">
          <i class="fa fa-envelope-o"></i> メッセージ
          <span class="badge" ng-class="{'badge-success': Messages.cnt > 0}">{{ Messages.cnt }}</span>
        </a>
      </li>
      <li class="nav-title">ナビゲーション</li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="home">
          <i class="fa fa-newspaper-o"></i> ホーム</a>
      </li>
      <li class="nav-item" ng-if="isLeader">
        <a class="nav-link" ui-sref-active="active" ui-sref="users.list">
          <i class="fa fa-users"></i> 社員</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="departments.list">
          <i class="fa fa-sitemap"></i> 部署</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="workmonths.list">
          <i class="fa fa-calendar"></i> 勤務表</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="workrests.list">
          <i class="fa fa-calendar-times-o"></i> 休暇</a>
      </li>
      <li class="nav-title">プロファイル</li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.profile">プロファイル変更</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.picture">アバター変更</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.password">パスワード変更</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/auth/signout" target="_self">ログアウト</a>
      </li>
    </ul>
  </nav>
</aside>