<aside class="aside-menu" id="aside-menu" ng-controller="HeaderController">
  <div class="aside-profile" ng-if="isLogged">
    <img class="aside-avatar pull-left" ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" />
    <span class="h4-text">{{user.displayName}}</span>
    <div class="clearfix"></div>
  </div>
  <!--<div class="aside-search">
    <div class="quick-search">
      <input ng-model="search_key" type="text" class="form-control quick-search-input" name="search" placeholder="{{ 'LB_SEARCH' | translate }}">
      <a class="quick-search-submit" type="submit" ng-click="search()"><i class="fa fa-search"></i></a>
      <a class="quick-search-advance" type="button" ui-sref="search"><i class="fa fa-cogs"></i></a>
    </div>
  </div>-->
  <nav class="aside-nav">
    <ul class="nav">
      <!--<li class="nav-title" ng-show="isLogged">{{ 'LANGUAGE' | translate }}</li>
      <li class="nav-item">
        <a class="nav-link" ng-click="handleChangeLanguage()">
          <img style="width: 18px; height: 18px;" ng-src="{{'modules/core/client/img/flags/' + language + '.png'}}">
          {{ language | translate }}
        </a>
      </li>-->

      <!--<li class="nav-title" ng-show="isLogged">{{ 'LB_NOFT' | translate }}</li>
      <li class="nav-item" ng-show="isLogged">
        <a class="nav-link" ui-sref="notifs.list"><i class="fa fa-bell-o"></i> {{ 'LB_NOFT_VIEWALL' | translate }}
          <span class="badge badge-pill badge-danger" ng-bind="Notifications.notifCnt | shortNumber" ng-show="Notifications.notifCnt > 0"></span>
        </a>
      </li>
      <li class="nav-item" ng-show="isLogged && Notifications.notifCnt > 0">
        <a class="nav-link" ng-click="handleMarkAllNotifRead()"><i class="fa fa-check-square-o"></i> {{ 'LB_NOFT_MARKALL' | translate }}</a>
      </li>
      <li class="nav-title">{{ 'LB_NAVIGATION' | translate }}</li>-->
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="home"><i class="fa fa-newspaper-o"></i> Home</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="polls.create"><i class="fa fa-pencil-square-o"></i> {{ 'LB_NEW_POLL' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="categorys.list"><i class="fa fa-list"></i> {{ 'LB_CATEGORYS' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="tags.list"><i class="fa fa-tags"></i> {{ 'LB_TAGS' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="search"><i class="fa fa-search"></i> {{ 'LB_ADVANCE_SEARCH' | translate }}</a>
      </li>
      <li class="nav-item" ng-show="isAdmin">
        <a class="nav-link" ui-sref-active="active" ui-sref="admin.dashboard"><i class="fa fa-tachometer"></i> {{ 'LB_ADMIN' | translate }}</a>
      </li>-->

      <li class="nav-title">PROFILE</li>
      <li class="nav-item" ng-show="isLogged">
        <a class="nav-link" ui-sref-active="active" ui-sref="profile.info({ userId: user.slug })"><i class="fa fa-user-circle"></i> View profile</a>
      </li>
      <li class="nav-item" ng-show="isLogged">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.profile"><i class="fa fa-pencil-square-o"></i> Edit profile</a>
      </li>
      <li class="nav-item" ng-show="isLogged">
        <a class="nav-link" ui-sref-active="active" ui-sref="settings.password"><i class="fa fa-lock"></i> Change password</a>
      </li>
      <li class="nav-item" ng-show="isLogged">
        <a class="nav-link" href="/api/auth/signout" target="_self"><i class="fa fa-sign-out"></i> Log out</a>
      </li>
      <li class="nav-item" ng-show="!isLogged">
        <a class="nav-link" ui-sref="authentication.signin"><i class="fa fa-sign-in"></i> Sign in</a>
      </li>
      <!--<li class="nav-title">{{ 'LB_OTHER' | translate }}</li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="about-us">{{ 'LB_ABOUT' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="guide.poll">{{ 'LB_GUIDELINE' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="tickets.create">{{ 'LB_SUPPORT' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="policy">{{ 'LB_POLICY' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="term">{{ 'LB_TERM' | translate }}</a>
      </li>-->
    </ul>
  </nav>
</aside>