<div class="container" ng-controller="HeaderController">
  <a ui-sref="home" class="navbar-brand" ng-style="{'background-image': 'url(modules/core/client/img/brand/logo.png)'}"></a>
  <!--<div class="navbar-header">-->
  <a class="navbar-toggle aside-menu-toggler d-md-none" id="aside-menu-toggler" href="#">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <ul class="nav navbar-nav d-sm-down-none" ng-if="menu.shouldRender(user);">
    <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }"
      class="{{item.class}}" dropdown="item.type === 'dropdown'">
      <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
      <ul ng-switch-when="dropdown" class="dropdown-menu">
        <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(user);" ui-sref-active="active">
          <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
        </li>
      </ul>
      <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
    </li>
    <li ng-if="isAdmin || isAccountant" class="dropdown" dropdown>
      <a class="dropdown-toggle" dropdown-toggle role="button">経理専用&nbsp;<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li ui-sref-active="active">
          <a ui-sref="holidays.list">休日形態管理</a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right d-sm-down-none" ng-hide="isLogged">
    <li ui-sref-active="active">
      <a ui-sref="authentication.signin">ログイン</a>
    </li>
  </ul>
  <!-- User menu -->
  <ul class="nav navbar-nav navbar-right d-sm-down-none" ng-show="isLogged">
    <li class="dropdown" dropdown>
      <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
        <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" class="header-profile-image" />
        <!-- <span ng-bind="user.displayName"></span> <b class="caret"></b> -->
      </a>
      <ul class="dropdown-menu user-menu" role="menu">
        <li class="menu-title">
          <a ui-sref="settings.profile">プロファイル変更</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">プロファイル変更</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">アバター変更</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.password">パスワード変更</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="/api/auth/signout" target="_self">ログアウト</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- TEMPALTES -->
<!-- 確認 -->
<script type="text/ng-template" id="confirmTemplate.html">
  <p>{{:: dialog.message}}</p>
  <div class="form-group mgnb">
    <button class="btn btn-default pull-right" ng-click="closeThisDialog()">キャンセル</button>
    <button class="btn btn-primary pull-right mg10r" ng-click="confirm()">{{:: dialog.button || '確認'}}</button>
    <div class="clearfix"></div>
  </div>
</script>
<!-- パスワード変更 -->
<script type="text/ng-template" id="changePassTemplate.html">
  <p>新しいパスワードを入力してください！</p>
  <input type="text" class="form-control" ng-model="newPassword">
  <div class="form-group mg12t mgnb">
    <button class="btn btn-default pull-right" ng-click="closeThisDialog()">キャンセル</button>
    <button class="btn btn-primary pull-right mg10r" ng-click="confirm(newPassword)">変更</button>
    <div class="clearfix"></div>
  </div>
</script>
<!-- 役割選択 -->
<script type="text/ng-template" id="selectRolesTemplate.html">
  <p class="font-weight-bold">役割を選択してください！</p>
  <p class="font-sm text-muted">役割を変更したらリーダと部署の情報が影響さえれます。</p>

  <select ng-model="roles" class="form-control">
    <option value="user">一般社員</option>
    <option value="accountant">経理</option>
    <option value="manager">マネージャ</option>
  </select>

  <div class="form-group mg12t mgnb">
    <button class="btn btn-default pull-right" ng-click="closeThisDialog()">キャンセル</button>
    <button class="btn btn-primary pull-right mg10r" ng-click="confirm(roles)">変更</button>
    <div class="clearfix"></div>
  </div>
</script>
<!-- 部署選択 -->
<script type="text/ng-template" id="selectDepartmentTemplate.html">
  <p class="font-weight-bold">部署を選択してください！</p>
  <p class="font-sm text-muted">部署を変更したらリーダの情報が影響さえれます。</p>

  <select class="form-control" ng-model="dialog.department">
    <option value>部署</option>
    <option ng-repeat="dp in dialog.departments" value="{{dp._id}}" ng-selected="dialog.department === dp._id">{{:: dp.name}}</option>
  </select>

  <div class="form-group mg12t mgnb">
    <button class="btn btn-default pull-right" ng-click="closeThisDialog()">キャンセル</button>
    <button class="btn btn-primary pull-right mg10r" ng-click="confirm(dialog.department)">変更</button>
    <div class="clearfix"></div>
  </div>
</script>