<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-md-9" scroll-glue="glued">
      <div class="well h50" ng-repeat="text in vm.texts">{{ text.text }}</div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h3>本日にお休み</h3>
        <span ng-if="workrests.length === 0">全員出勤</span>
        <div class="user-item-block" ng-repeat="workrest in workrests">
          <div class="user-basic-info">
            <div class="user-avatar">
              <img src="{{:: workrest.user.profileImageURL }}">
              <span class="user-status" ng-class="{ 'working': workrest.user.status === 1, 'retired': workrest.user.status === 2 }"></span>
            </div>
            <div class="user-info">
              <span class="user-info-name">{{:: workrest.user.displayName}}</span>
              <span class="font-sm">{{::workrest.holiday.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>