<div class="container-fluid animated fadeIn" nv-file-drop="" uploader="vm.uploader">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <div class="transport">
        <div class="form-group text-right">
          <button class="btn btn-sm btn-default" ng-click="vm.handleCancel()">キャンセル</button>
          <button class="btn btn-sm btn-primary" ng-click="vm.handleSaveTransport(vm.form.transportForm.$valid)">完了</button>
        </div>
        <form name="vm.form.transportForm" novalidate>
          <div class="form-group" ng-show="vm.uploader.isUploading">
            <p class="text-muted" ng-bind="vm.uploadingFileName"></p>
            <div class="progress progress-xs">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label for="date">日付</label>
            <div class="input-group">
              <input name="date" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.transport.new_date" is-open="vm.transport.is_open_picker"
                close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body show-weeks="false" readonly="true"
                required/>
              <span class="input-group-btn bdnl">
                <button type="button" class="btn btn-default bdnl" ng-click="vm.transport.is_open_picker = true;">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
            <div ng-messages="vm.form.transportForm.date.$error" role="alert">
              <p class="help-block error-text font-sm" ng-message="required">日付は必須です。</p>
            </div>
          </div>

          <div class="form-group" show-errors>
            <label for="content">顧客名・事業内容</label>
            <input name="content" class="form-control" ng-model="vm.transport.content" type="text" required/>
            <div ng-messages="vm.form.transportForm.content.$error" role="alert">
              <p class="help-block error-text font-sm" ng-message="required">顧客名・事業内容は必須です。</p>
            </div>
          </div>

          <div class="form-group d-sm-down-none" show-errors>
            <div class="col-xs-6 pdnl">
              <label for="start">起点</label>
              <input name="start" class="form-control" ng-model="vm.transport.start" type="text" required/>
              <div ng-messages="vm.form.transportForm.start.$error" role="alert">
                <p class="help-block error-text font-sm" ng-message="required">起点は必須です。</p>
              </div>
            </div>
            <div class="col-xs-6 pdnr">
              <label for="end">終点</label>
              <input name="end" class="form-control" ng-model="vm.transport.end" type="text" required/>
              <div ng-messages="vm.form.transportForm.end.$error" role="alert">
                <p class="help-block error-text font-sm" ng-message="required">終点は必須です。</p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group d-md-none" show-errors>
            <label for="start">起点</label>
            <input name="start" class="form-control" ng-model="vm.transport.start" type="text" required/>
            <div ng-messages="vm.form.transportForm.start.$error" role="alert">
              <p class="help-block error-text font-sm" ng-message="required">起点は必須です。</p>
            </div>
          </div>
          <div class="form-group d-md-none" show-errors>
            <label for="end">終点</label>
            <input name="end" class="form-control" ng-model="vm.transport.end" type="text" required/>
            <div ng-messages="vm.form.transportForm.end.$error" role="alert">
              <p class="help-block error-text font-sm" ng-message="required">終点は必須です。</p>
            </div>
          </div>

          <div class="form-group">
            <div class="checkbox mg5t">
              <label>
                <input type="checkbox" ng-model="vm.transport.round">往復</label>
            </div>
          </div>

          <div class="form-group">
            <label>手段</label>
            <select class="form-control" ng-model="vm.transport.method" convert-to-number>
              <option value="1">JR</option>
              <option value="2">私鉄</option>
              <option value="3">地下鉄</option>
              <option value="4">バス</option>
              <option value="5">TAXI</option>
              <option value="6">駐車代</option>
              <option value="0">自筆記入</option>
            </select>
          </div>

          <div class="form-group" ng-class="{ 'has-error': vm.transport.method_error }" ng-show="vm.transport.method === 0">
            <label>手段の自筆記入</label>
            <input name="method_other" class="form-control" ng-model="vm.transport.method_other" type="text" ng-change="vm.handleChangeMethod()"
            />
            <div ng-show="vm.transport.method_error" role="alert">
              <p class="help-block error-text font-sm">手段は必須です。</p>
            </div>
          </div>

          <div class="form-group d-sm-down-none" ng-class="{ 'has-error': vm.transport.fee_error }">
            <div class="col-xs-6 pdnl">
              <label>TAXI以外</label>
              <input name="fee" class="form-control" ng-model="vm.transport.fee" type="number" ng-change="vm.handleChangeFee()" />
            </div>
            <div class="col-xs-6 pdnr">
              <label>TAXI</label>
              <input name="taxi_fee" class="form-control" ng-model="vm.transport.taxi_fee" type="number" ng-change="vm.handleChangeFee()"
              />
            </div>
            <div class="clearfix"></div>
            <div ng-show="vm.transport.fee_error" role="alert">
              <p class="help-block error-text font-sm">どれかの金額を入力してください！</p>
            </div>
          </div>

          <div class="form-group d-md-none" ng-class="{ 'has-error': vm.transport.fee_error }">
            <label>TAXI以外</label>
            <input name="fee" class="form-control" ng-model="vm.transport.fee" type="number" ng-change="vm.handleChangeFee()" />
            <div ng-show="vm.transport.fee_error" role="alert">
              <p class="help-block error-text font-sm">どれかの金額を入力してください！</p>
            </div>
          </div>

          <div class="form-group d-md-none" ng-class="{ 'has-error': vm.transport.fee_error }">
            <label>TAXI</label>
            <input name="taxi_fee" class="form-control" ng-model="vm.transport.taxi_fee" type="number" ng-change="vm.handleChangeFee()"
            />
            <div ng-show="vm.transport.fee_error" role="alert">
              <p class="help-block error-text font-sm">どれかの金額を入力してください！</p>
            </div>
          </div>

          <div class="form-group">
            <label>領収書</label>
            <!-- Image table -->
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>サムネール</th>
                    <th class="text-center w120">状態</th>
                    <th class="w50 text-center">
                      <button class="btn btn-success btn-xs btn-upload-file">追加
                        <input type="file" nv-file-select uploader="vm.uploader" style="display: hidden;" multiple>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-show="vm.transport.receipts.length === 0 && vm.uploader.queue.length === 0">
                    <td colspan="3">領収書がアップロードされていません！</td>
                  </tr>
                  <tr ng-repeat="receipt in vm.transport.receipts">
                    <td>
                      <img src="{{ receipt }}" class="receipt-img">
                    </td>
                    <td class="text-center w120">アップロード済</td>
                    <td class="w50 text-center">
                      <button class="btn btn-danger btn-xs" ng-click="vm.handleDeleteReceipt(receipt)">削除</button>
                    </td>
                  </tr>
                  <tr ng-repeat="receipt in vm.uploader.queue">
                    <td>
                      <div image-preview="{ file: receipt._file, width: 50 }" class="receipt-img"></div>
                    </td>
                    <td class="text-center w120">未アップロード</td>
                    <td class="w50 text-center">
                      <button class="btn btn-danger btn-xs" ng-click="receipt.remove()">削除</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="d-sm-down-none" ng-if="vm.uploader.isHTML5">
              <div class="drop-image-box" nv-file-over="" uploader="vm.uploader">
                写真ファイルをドラッグしてください！
              </div>
            </div>
          </div>
        </form>

        <div class="form-group text-right mgnb mg5t">
          <button class="btn btn-sm btn-default" ng-click="vm.handleCancel()">キャンセル</button>
          <button class="btn btn-sm btn-primary" ng-click="vm.handleSaveTransport(vm.form.transportForm.$valid)">完了</button>
        </div>
      </div>
    </div>
  </div>
</div>