@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}

.user-common-avatar {
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 50%; }
.user-common-avatar-small {
  width: 28px;
  height: 28px;
  border: 2px solid #fff;
  border-radius: 50%; }

.user-item-block {
  padding: 5px;
  border: 1px solid #ccc;
  max-height: 58px;
  margin-bottom: 6px;
  border-radius: 3px;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); }
  .user-item-block.expand {
    max-height: unset;
    overflow-y: unset;}
  .user-item-block .user-basic-info {
    display: flex;
    width: 100%;
    height: 48px; }
    .user-item-block .user-basic-info .user-avatar {
      position: relative;
      width: 48px;
      height: 48px;
      margin-right: 12px; }
      .user-item-block .user-basic-info .user-avatar img{
        border: 2px solid #fff;
        width: 48px;
        height: 48px;
        border-radius: 50%; }
      .user-item-block .user-basic-info .user-avatar .user-status {
        position: absolute;
        bottom: 2px;
        right: 2px;
        width: 12px;
        height: 12px;
        opacity: 0.9;
        border: 2px solid #fff;
        background-color: #59BA37;
        border-radius: 50%; }
        .user-item-block .user-basic-info .user-avatar .user-status.working{
          background-color: #59BA37; }
        .user-item-block .user-basic-info .user-avatar .user-status.retired{
          background-color: #ccc; }
    .user-item-block .user-basic-info .user-info {
      flex-grow: 1;
      height: 100%;
      margin-bottom: 12px; }
      .user-item-block .user-basic-info .user-info .user-info-name {
        display: block;
        font-weight: 600; }
    .user-item-block .user-basic-info .user-action {
      position: relative;
      width: 24px;
      height: 100%; }
      .user-item-block .user-basic-info .user-action .user-options {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        color: #ccc;}
      .user-item-block .user-basic-info .user-action .expand-toggle {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        opacity: 0.8;
        color: #ccc;}
      .user-item-block .user-basic-info .user-action .expand-toggle:hover,
      .user-item-block .user-basic-info .user-action .expand-toggle:focus,
      .user-item-block .user-basic-info .user-action .user-options:hover,
      .user-item-block .user-basic-info .user-action .user-options:focus {
        color: #555;}
  .user-item-block .user-advance-info {
    margin-top: 12px;
    width: 100%;
    display: flex; }

.user-detail-block {
  width: 100%; }
  .user-detail-block .user-basic-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between }
    .user-detail-block .user-basic-info .user-avatar {
      position: relative;
      width: 150px;
      height: 150px;
      margin-right: 20px; }
    .user-detail-block .user-basic-info .user-info-block {
      flex-grow: 1;
      min-width: 200px;}
    .user-detail-block .user-basic-info .user-tools {
      min-width: 200px;}
      .user-detail-block .user-basic-info .user-avatar img {
        width: 150px;
        height: 150px;
        border-radius: 50%; }
      .user-detail-block .user-basic-info .user-avatar .user-status {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 28px;
        height: 28px;
        opacity: 0.9;
        border: 4px solid #fff;
        border-radius: 50%; }
        .user-detail-block .user-basic-info .user-avatar .user-status.working {
          background-color: #59BA37; }
        .user-detail-block .user-basic-info .user-avatar .user-status.retired {
          background-color: #ccc; }
        .user-detail-block .user-basic-info .user-tools .user-tool-button {
          cursor: pointer;
          display: inline-block;
          margin: 0.2rem;
          color: #555;
          font-size: 1.0rem;
          line-height: 2.5rem;
          width: 2.5rem;
          height: 2.5rem;
          text-align: center;
          background-color: #ccc;
          border-radius: 50%;
          transition: background-color 0.2s linear, color 0.2s linear; }
            .user-detail-block .user-basic-info .user-tools .user-tool-button a {
              display: block;
              width: 2.5rem;
              height: 2.5rem;
              color: #555;
              border-radius: 50%;
              background-color: #ccc; }
          .user-detail-block .user-basic-info .user-tools .user-tool-button:hover,
          .user-detail-block .user-basic-info .user-tools .user-tool-button a:hover {
            color: #fff;
            background-color: #337ab7; }
  .user-detail-block .user-private-info {
    height: 100px;
    display: flex; }
  .user-detail-block .user-activity-info {
    height: 100px;
    display: flex; }
.login-block {
  width: 100%;
  height: 100%;
  background: url('modules/core/client/img/brand/cover.jpg') }







