<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <!-- # MOBILE # -->
      <div class="form-group" ng-if="isMobile" ng-init="isCloseCalendar = true;">
        <button class="btn btn-success btn-sm btn-block" ng-click="isCloseCalendar = !isCloseCalendar">
          <i class="fa fa-calendar"></i> {{ (isCloseCalendar) ? 'カレンダー表示' : 'カレンダー非表示' }}</button>
        <div collapse="isCloseCalendar">
          <div class="row text-center mg5t">
            <div class="btn-group">
              <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" decrement="vm.calendar.view">前へ</button>
              <button class="btn btn-default btn-sm" mwl-date-modifier date="vm.calendar.viewDate" set-to-today>本日</button>
              <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" increment="vm.calendar.view">次へ</button>
            </div>
          </div>
          <h3 class="text-center">{{ vm.calendar.title }}</h3>
          <mwl-calendar events="vm.events" view="vm.calendar.view" view-date="vm.calendar.viewDate" view-title="vm.calendar.title"
            cell-modifier="vm.calendar.cellModifier(calendarCell)" on-view-change-click="vm.handleCalendarEventClicked(calendarDate)"
            on-date-range-select="vm.handleCalendarRangeSelected(calendarRangeStartDate, calendarRangeEndDate)" on-timespan-click="vm.handleCalendarClicked(calendarDate)">
          </mwl-calendar>
        </div>
      </div>
      <!-- # DESKTOP # -->
      <div class="form-group" ng-if="!isMobile">
        <div class="row text-center">
          <div class="btn-group">
            <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" decrement="vm.calendar.view">前へ</button>
            <button class="btn btn-default btn-sm" mwl-date-modifier date="vm.calendar.viewDate" set-to-today>本日</button>
            <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" increment="vm.calendar.view">次へ</button>
          </div>
        </div>
        <h3 class="text-center">{{ vm.calendar.title }}</h3>
        <mwl-calendar events="vm.events" view="vm.calendar.view" view-date="vm.calendar.viewDate" view-title="vm.calendar.title"
          cell-modifier="vm.calendar.cellModifier(calendarCell)" on-view-change-click="vm.handleCalendarEventClicked(calendarDate)"
          on-date-range-select="vm.handleCalendarRangeSelected(calendarRangeStartDate, calendarRangeEndDate)" on-timespan-click="vm.handleCalendarClicked(calendarDate)">
        </mwl-calendar>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="form-group">
        <input type="text" ng-model="vm.condition.search" class="form-control" placeholder="検索キー">
      </div>
      <div class="form-group" ng-init="startDatePickerOpen = false;">
        <input name="start" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.start" is-open="startDatePickerOpen"
          close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body placeholder="検索開始" show-weeks="false"
          readonly="true" />
      </div>
      <div class="form-group" ng-init="endDatePickerOpen = false;">
        <input name="end" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.end" is-open="endDatePickerOpen"
          close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body placeholder="検索終了" show-weeks="false"
          readonly="true" />
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="vm.condition.status">
          <option value="1">未申請</option>
          <option value="2">確認中</option>
          <option value="3">承認</option>
          <option value="4">拒否</option>
          <option value="5">済み</option>
        </select>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>形態</th>
            <th>開始</th>
            <th>終了</th>
            <th>期間</th>
            <th>事由</th>
            <th>状態</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rest in vm.rests track by $index">
            <td>{{ rest.holiday.name }}</td>
            <td>{{ rest.start | LL }}</td>
            <td>{{ rest.end | LL }}</td>
            <td>{{ rest.duration }}</td>
            <td>{{ rest.description | nl2br }}</td>
            <td ng-switch="rest.status">
              <span class="label label-default" ng-switch-when="1">未申請</span>
              <span class="label label-warning" ng-switch-when="2">確認中</span>
              <span class="label label-success" ng-switch-when="3">承認</span>
              <span class="label label-danger" ng-switch-when="4">拒否</span>
              <span class="label label-primary" ng-switch-when="5">済み</span>
            </td>
            <td>
              <a ng-if="rest.status === 1" class="btn btn-primary btn-xs" ng-click="vm.handleChangeRestStatus(2)">申請</a>
              <a ng-if="rest.status === 1 || rest.status === 4" class="btn btn-success btn-xs" ui-sref="rests.edit({ restId: rest._id })">編集</a>
              <a ng-if="rest.status === 1 || rest.status === 2" class="btn btn-danger btn-xs" ng-click="vm.handleDeleteRest(rest)">削除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<a class="btn-quick" ui-sref="rests.create">
  <i class="fa fa-plus"></i>
</a>