<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <a ng-if="vm.rest.status === 1 || vm.rest.status === 4" class="btn btn-success pull-right mg5r" ui-sref="rests.edit({ restId: vm.rest._id })">
        編集</a>
      <a ng-if="vm.rest.status === 1 || vm.rest.status === 2" class="btn btn-danger pull-right mg5r" ng-click="vm.handleDeleteRest()">
        削除</a>
      <a ng-if="vm.rest.status === 1" class="btn btn-primary pull-right mg5r" ng-click="vm.handleSendRest()"> 申請</a>
      <a ng-if="vm.rest.status === 2" class="btn btn-danger pull-right mg5r" ng-click="vm.handlePushReview()"> プッシュ</a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>