<div class="row animated fadeIn mg50t">
  <form name="vm.form.userForm" ng-submit="vm.handleSaveUser(vm.form.userForm.$valid)" novalidate>
    <div class="col-xs-12">
      <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right">
          <i ng-show="vm.busy" class="fa fa-spinner fa-pulse fa-fw"></i> 保存
        </button>
        <a ng-click="vm.handleCancelInput()" class="btn btn-danger pull-right mg10r">キャンセル</a>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="well">
        <h3 class="mg12y">アカウント情報</h3>
        <!-- User name -->
        <div class="form-group" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="ユーザーID" required
          />
          <div ng-messages="vm.form.userForm.username.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">ユーザー名は必須です。</p>
          </div>
        </div>
        <!-- Password -->
        <div class="form-group" show-errors>
          <input type="password" id="password" name="password" class="form-control" ng-model="vm.user.password" placeholder="パスワード"
            required password-validator/>
          <div ng-messages="vm.form.userForm.password.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">パスワードは必須です。</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text font-sm" ng-show="vm.form.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <!-- Roles -->
        <div class="form-group" show-errors>
          <select name="roles" class="form-control" ng-model="vm.user.roles" ng-list required>
          <option value="user">一般社員</option>
          <option value="user,accountant">経理</option>
          <option value="user,manager">マネージャ</option>
          <option ng-if="isAdmin" value="user,admin">システム管理</option>
        </select>
          <div ng-messages="vm.form.userForm.roles.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">役割は必須です。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="well">
        <h3 class="mg12y">基本情報</h3>
        <!-- First name -->
        <div class="form-group" show-errors>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="姓" required
          />
          <div ng-messages="vm.form.userForm.firstName.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">姓は必須です。</p>
          </div>
        </div>
        <!-- Last name -->
        <div class="form-group" show-errors>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="名" required
          />
          <div ng-messages="vm.form.userForm.lastName.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">名は必須です。</p>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" show-errors>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="メール" required />
          <div ng-messages="vm.form.userForm.email.$error" role="alert">
            <p class="help-block error-text font-sm" ng-message="required">メールは必須です。</p>
            <p class="help-block error-text font-sm" ng-message="email">メールのフォーマットが違います。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="well">
        <h3 class="mg12y">社員情報</h3>
        <div class="form-group">
          <select name="department" class="form-control" ng-model="vm.user.department">
            <option value>部署</option>
            <option ng-repeat="department in vm.departments" value="{{department._id}}" ng-selected="vm.user.department._id === department._id" >{{:: department.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input name="employeeId" type="text" class="form-control" ng-model="vm.user.company.employeeId" placeholder="社員番号" />
        </div>
        <div class="form-group">
          <input name="taxId" type="text" class="form-control" ng-model="vm.user.company.taxId" placeholder="納税番号" />
        </div>
        <div class="form-group">
          <div class="input-group">
            <input name="salary" type="number" class="form-control" ng-model="vm.user.company.salary" placeholder="給料" />
            <span class="input-group-addon">￥</span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="well">
        <h3 class="mg12y">個人情報</h3>
        <!-- Sex -->
        <div class="form-group">
          <select name="sex" class="form-control" ng-model="vm.user.private.sex">
          <option value="1">男</option>
          <option value="2">女</option>
        </select>
        </div>
        <!-- Birthdate -->
        <div class="form-group" ng-init="birthdateOpen = false;">
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy/dd/MM" ng-model="vm.user.private.birthdate" is-open="birthdateOpen"
              min-date="'1900/01/01'" max-date="'2017/01/01'" close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body
              placeholder="生年月日" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="birthdateOpen = true;"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
        <!-- Phone -->
        <div class="form-group">
          <input name="phone" type="number" class="form-control" ng-model="vm.user.private.phone" placeholder="電話番号" />
        </div>
        <!-- Address -->
        <div class="form-group">
          <input name="address" type="text" class="form-control" ng-model="vm.user.private.address" placeholder="住所" />
        </div>
        <!-- hobby -->
        <div class="form-group">
          <input name="hobby" type="text" class="form-control" ng-model="vm.user.private.hobby" placeholder="趣味" />
        </div>
        <!-- Introduct -->
        <div class="form-group">
          <textarea name="introduct" class="msd-elastic: \n; h100 form-control" data-ng-model="vm.user.private.introduct" placeholder="自己紹介"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<!--<section>
  <div class="page-header">
    <h1>User <span ng-bind="user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name"
            required />
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required
          />
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="user.roles" id="roles" ng-list required />
            <div ng-messages="userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one role is required.</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>-->