<div class="container-fluid animated fadeIn pd100b">
  <!-- 検索ツール -->
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <accordion close-others="true" ng-init="openTools = false;">
        <accordion-group is-open="openTools">
          <accordion-heading>
            <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openTools}"></i> 検索ツール
          </accordion-heading>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="search">検索キー</label>
              <input name="search" type="text" ng-model="vm.condition.search" class="form-control" placeholder="検索キー">
            </div>
            <div class="col-sm-6">
              <label for="roles">役割</label>
              <tags-input class="my-tags" ng-model="vm.condition.roles" key-property="value" template="roles_tags.html" display-property="name"
                placeholder="役割" replace-spaces-with-dashes="false">
                <auto-complete source="vm.handleSearchRoles($query)" min-length="0" load-on-focus="true" load-on-empty="true" max-results-to-show="32"></auto-complete>
              </tags-input>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group">
            <div class="col-sm-6">
              <label for="sort">並び順</label>
              <select name="sort" class="form-control" ng-model="vm.condition.sort">
                <option value="-created">登録の新しい順番</option>
                <option value="created">登録の古い順番</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="limit">表示件数</label>
              <input name="limit" type="number" ng-model="vm.condition.limit" class="form-control">
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group text-right">
            <button class="btn btn-sm btn-danger" ng-click="vm.handleClearCondition()">クリア</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.handleStartSearch()">検索</button>
          </div>

        </accordion-group>
      </accordion>
    </div>
  </div>
  <!-- ユーザー一覧 -->
  <div class="row mg10t">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="form-group">
        <span>全 {{ vm.total }} 件</span>
        <a class="btn btn-primary pull-right" ui-sref="admin.users.create">追加</a>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>氏名</th>
              <th>ユーザーID</th>
              <th>メール</th>
              <th>役割</th>
              <th>登録日</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="vm.users.length === 0">
              <td colspan="6">データが見つかりません。</td>
            </tr>

            <tr ng-repeat="user in vm.users track by $index" class="clickable" ng-click="vm.hanleSelectUser(user)">
              <td>
                <img class="user-common-avatar-small" src="{{ user.profileImageURL }}">
                <span>{{ user.displayName }}</a>
              </td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>
                <span ng-repeat="role in user.roles">{{ role | RoleFilter }}{{ !$last ? ', ' : '' }} </span>
              </td>
              <td>{{ user.created | LLL }}</td>
              <td class="text-center">
                <a class="btn btn-xs btn-success" ui-sref="admin.users.edit({ userId: user._id })">編集</a>
                <a class="btn btn-xs btn-danger" ng-click="vm.handleDeleteUser(user)">削除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <pagination total-items="vm.total" ng-model="vm.page" max-size="5" boundary-links="true" items-per-page="vm.condition.limit"
        ng-change="vm.handlePageChanged()" previous-text="前" next-text="次" first-text="最初" last-text="最後"></pagination>
    </div>
  </div>

</div>

<script type="text/ng-template" id="roles_tags.html">
  <a href="#">{{ data.name }}</a>
  <a class="remove-button" ng-click="$removeTag()" ng-bind="$$removeTagSymbol"></a>
</script>