<div class="row animated fadeIn mg50t">
  <div class="col-xs-12">
    <div class="form-group">
      <a ng-if="isAdmin || isAccountant" ui-sref="users.new" class="btn btn-danger pull-right mg10r">ユーザー追加</a>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="panel panel-primary" ng-if="isAdmin">
      <div class="panel-heading">システム管理</div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-2 col-md-4 col-lg-3 pdn" ng-repeat="admin in vm.admin.data">
          <div class="user-item-block">
            <div class="user-basic-info">
              <div class="user-avatar"><img src="{{:: admin.profileImageURL }}"></div>
              <div class="user-info">
                <a class="user-info-name" ui-sref="users.view({ userId: admin._id })">{{:: admin.displayName}}</a>
                <a class="font-sm" ng-href="mailto:{{admin.email}}">{{::admin.email}}</a>
              </div>
              <div class="user-action">
                <a class="user-options" ng-click="vm.handleManagerRemoved(admin)"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">マネージャ</div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-2 col-md-4 col-lg-3 pdn" ng-repeat="manager in vm.manager.data">
          <div class="user-item-block">
            <div class="user-basic-info">
              <div class="user-avatar"><img src="{{:: manager.profileImageURL }}"></div>
              <div class="user-info">
                <a class="user-info-name" ui-sref="users.view({ userId: manager._id })">{{:: manager.displayName}}</a>
                <a class="font-sm" ng-href="mailto:{{manager.email}}">{{::manager.email}}</a>
              </div>
              <div class="user-action">
                <a class="user-options" ng-click="vm.handleManagerRemoved(manager)"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="panel panel-primary" ng-if="isAdmin">
      <div class="panel-heading">社員</div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-2 col-md-4 col-lg-3 pdn" ng-repeat="member in vm.member.data">
          <div class="user-item-block">
            <div class="user-basic-info">
              <div class="user-avatar"><img src="{{:: member.profileImageURL }}"></div>
              <div class="user-info">
                <a class="user-info-name" ui-sref="users.view({ userId: member._id })">{{:: member.displayName}}</a>
                <a class="font-sm" ng-href="mailto:{{member.email}}">{{::member.email}}</a>
              </div>
              <div class="user-action">
                <a class="user-options" ng-click="vm.handleManagerRemoved(member)"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()"
        />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in pagedItems" ui-sref="users.view({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage"
    ng-change="pageChanged()"></pagination>
</section>