<div class="row animated fadeIn mg12t">
  <div class="col-xs-12">
    <div class="user-detail-block">
      <div class="user-basic-info">
        <div class="user-avatar">
          <img src="{{:: vm.user.profileImageURL }}">
          <span ng-if="vm.user.status === 1" class="user-status working" tooltip="在職しています。"></span>
          <span ng-if="vm.user.status === 2" class="user-status retired" tooltip="退職しました。"></span>
        </div>
        <div class="user-info-block">
          <h3>{{:: vm.user.displayName}}</h3>
          <table>
            <tr>
              <td><i class="fa fa-sitemap"></i> 役割</td>
              <td>{{:: vm.user.roles | RoleFilter }}</td>
            </tr>
            <tr>
              <td><i class="fa fa-envelope"></i> メール</td>
              <td><a ng-href="mailto:{{member.email}}"> {{:: vm.user.email }}</a></td>
            </tr>
            <tr>
              <td><i class="fa fa-sitemap"></i> 部署</td>
              <td><a ui-sref="departments.view({ departmentId: vm.user.department._id })">{{:: vm.user.department.name }}</a></td>
            </tr>
          </table>
          <!--<p><i class="fa fa-sitemap"></i> 役割： {{:: vm.user.roles | RoleFilter }}</p>
          <p><i class="fa fa-envelope"></i> メール：<a ng-href="mailto:{{member.email}}"> {{:: vm.user.email }}</a></p>
          <p><i class="fa fa-users"></i> 部署：<a ui-sref="departments.view({ departmentId: vm.user.department._id })">{{:: vm.user.department.name }}</a></p>-->
        </div>
        <div class="user-tools">
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="user-detail-block">
      <div class="user-basic-info">
        <div class="user-avatar">
          <img src="{{:: vm.user.profileImageURL }}">
          <span ng-if="vm.user.status === 1" class="user-status working" tooltip-placement="bottom" tooltip="在職しています。"></span>
          <span ng-if="vm.user.status === 2" class="user-status retired" tooltip-placement="bottom" tooltip="退職しました。"></span>
        </div>
        <div class="user-info-block">
          <div class="user-tool">
            <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
            <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
            <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
            <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
            <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
            <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
            <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
            <div class="user-tool-button"><i class="fa fa-address-book"></i></div>
          </div>
          <div class="user-info">

          </div>
        </div>
      </div>
      <div class="user-private-info"></div>
      <div class="user-activity-info"></div>
    </div>-->