<div class="row animated fadeIn mg12t">
  <div class="col-xs-12">
    <div class="user-detail-block">
      <div class="user-basic-info">
        <div class="user-avatar">
          <img src="{{:: user.profileImageURL }}">
          <span class="user-status" ng-class="{ 'working': admin.status === 1, 'retired': admin.status === 2 }"></span>
        </div>
        <div class="user-info-block">
          <div class="user-tool"></div>
          <div class="user-info"></div>
        </div>
      </div>
      <div class="user-private-info"></div>
      <div class="user-activity-info"></div>
    </div>
  </div>
</div>