<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group" ng-init="startDatePickerOpen = false;">
        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="a" is-open="startDatePickerOpen" close-text="閉じる"
          current-text="本日" clear-text="クリア" datepicker-append-to-body ng-change="vm.handleTransportDateChanged(transport)"
          show-weeks="false" readonly="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="startDatePickerOpen = true;">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </div>
      <h3>交通費</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th rowspan="2">日付</th>
            <th rowspan="2">顧客名・事業内容</th>
            <th colspan="2">経路</th>
            <th rowspan="2">往復</th>
            <th rowspan="2">手段</th>
            <th colspan="2">交通費</th>
            <th rowspan="2">領収書</th>
            <th rowspan="2"></th>
          </tr>
          <tr>
            <th>起点</th>
            <th>終点</th>
            <th>ＴＡＸＩ以外</th>
            <th>ＴＡＸＩ</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.payment.transports.length === 0">
            <td colspan="10">交通費が登録されません！</td>
          </tr>
          <tr ng-repeat="transport in vm.payment.transports track by $index ">
            <td>
            </td>
            <td colspan="8">
              <span>Creating</span>
            </td>
            <td>
              <a ng-click="vm.handleRemoveTransport(transport)" class="text-danger">
                <i class="fa fa-times"></i>
              </a>
            </td>
            <!-- <td>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="startDatePickerOpen = true;">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td> -->
          </tr>
        </tbody>
      </table>
      <div class="form-group text-right">
        <button class="btn btn-primaty" ng-click="vm.handleAddTransport()">追加</button>
      </div>
    </div>
    <div class="col-xs-12">
      <h3>出張旅費</h3>

    </div>
    <div class="col-xs-12">
      <h3>その他の費用（備品等）</h3>
    </div>
    <div class="col-xs-12">
      <h3>車両燃料費</h3>
    </div>
    <div class="col-xs-12">
      <h3>会議費 ･接待交際費報告書</h3>
    </div>
  </div>
</div>

<script type="text/ng-template" id="form-transport.html">
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label>日付</label>
      <div class="input-group">
        <input type="text" class="form-control input-sm" datepicker-popup="yyyy/MM/dd" ng-model="transport.date" is-open="transport.is_open_picker"
          close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body ng-change="vm.handleTransportDateChanged(transport)"
          show-weeks="false" readonly="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" ng-click="transport.is_open_picker = true;">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label>顧客名/事業内容</label>
      <input class="form-control input-sm" ng-model="transport.content" type="text">
    </div>
    <div class="form-group">
      <div class="col-md-6 pdnx">
        <label>起点</label>
        <input class="form-control input-sm" ng-model="transport.start" type="text">
      </div>
      <div class="col-md-6 pdnx">
        <label>終点</label>
        <input class="form-control input-sm" ng-model="transport.end" type="text">
      </div>s
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="transport.round">往復</label>
      </div>
    </div>
    <div class="form-group">
      <label>手段</label>
      <select class="form-control input-sm" ng-model="transport.method">
        <option value="1">JR</option>
        <option value="2">私鉄</option>
        <option value="3">地下鉄</option>
        <option value="4">バス</option>
        <option value="5">TAXI</option>
        <option value="6">駐車代</option>
        <option value="7">自筆記入</option>
      </select>
      <input ng-show="transport.method === 0" class="form-control" ng-model="transport.method_other" type="text">
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="closeThisDialog()">キャンセル</button>
      <button class="btn btn-primary" ng-click="closeThisDialog(transport)">完了</button>
    </div>
  </div>
</div>
</script>