<div class="container-fluid animated fadeIn mg100b">
  <!-- 時間コントロール -->
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center mg5y">{{ vm.currentYear.year() + '年'}}</h3>
    </div>
    <div class="col-xs-12 text-center">
      <div class="btn-group">
        <button class="btn btn-primary btn-sm" ng-click="vm.handleNextYear()">
          <i class="fa fa-angle-double-left"></i> 去年</button>
        <button class="btn btn-default btn-sm" ng-click="vm.handleCurrentYear()">今年</button>
        <button class="btn btn-primary btn-sm" ng-click="vm.handlePreviousYear()">来年
          <i class="fa fa-angle-double-right"></i>
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- 時間コントロール -->
  <div class="row mg10t">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="text-center w50">操作</th>
              <th>月</th>
              <th class="text-center w100">状態</th>
              <th class="d-sm-down-none w150 text-center">合計</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.payments">
              <td class="text-center w50">
                <a ng-if="!item.payment" class="btn btn-default btn-xs" ng-click="vm.handleCreatePayment(item.index)">
                  <i class="fa fa-spinner fa-pulse fa-fw" ng-show="vm.createPaymentBusy"></i> 作成</a>
                <div dropdown dropdown-append-to-body ng-show="item.payment">
                  <a dropdown-toggle class="btn btn-xs btn-default">
                    <i class="glyphicon glyphicon-option-horizontal"></i>
                  </a>

                  <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li ng-if="item.payment.status === 1 || item.payment.status === 3">
                      <a ui-sref="payments.edit({ paymentId: payment._id })">編集</a>
                    </li>
                    <li ng-if="item.payment.status === 2 || item.payment.status === 4">
                      <a ui-sref="payments.edit({ paymentId: payment._id })">詳細</a>
                    </li>
                    <li ng-if="item.payment.status === 1 || item.payment.status === 3">
                      <a ng-click="vm.handleRequestPayment(item)">申請</a>
                    </li>
                    <li ng-if="item.payment.status === 2">
                      <a ng-click="vm.handleCancelPayment(item)">申請キャンセル</a>
                    </li>
                    <li ng-if="item.payment.status === 4">
                      <a ng-click="vm.handleRequestDeletePayment(item)">取り消し申請</a>
                    </li>
                    <li ng-if="item.payment.status === 1 || item.payment.status === 3">
                      <a ng-click="vm.handleDeletePayment(item)">削除</a>
                    </li>
                    <li>
                      <a ng-click="vm.handleViewHistory(item)">歴史</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td>{{ item.index + '月'}}</td>
              <td class="text-center w100">
                <span ng-show="item.payment">{{ item.payment.status | StatusFilter }}</span>
              </td>
              <td class="d-sm-down-none w150 text-center">
                <span ng-show="item.payment">￥{{ item.payment.total }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mg10t">
    <div class="col-xs-12">
      <div class="form-group">
        <button ng-show="vm.isShowHistory" class="btn btn-warning btn-sm pull-right" ng-click="vm.handleCloseHistory()">歴史表を閉じる</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive" id="payments-list-historys" ng-show="vm.isShowHistory">
        <table class="table table-bordered">
          <thead class="thead-default">
            <tr>
              <th>日付</th>
              <th>操作</th>
              <th>操作者</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="history in vm.historys">
              <td>{{history.timing | LLLL}}</td>
              <td>{{history.action | ActionFilter}}</td>
              <td>
                <a ng-click="handleViewDetailUser(history.user)">{{history.user.displayName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>