<div class="container-fluid animated fadeIn">
  <div class="row">
    <!-- 交通費 -->
    <div class="col-xs-12">
      <h3>交通費</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th rowspan="2">日付</th>
            <th rowspan="2">顧客名・事業内容</th>
            <th colspan="2">経路</th>
            <th rowspan="2">往復</th>
            <th rowspan="2">手段</th>
            <th colspan="2">交通費</th>
            <th rowspan="2">領収書</th>
            <th rowspan="2" class="text-center w50">
              <button class="btn btn-primary btn-sm" ng-click="vm.handleAddTransport()">追加</button>
            </th>
          </tr>
          <tr>
            <th>起点</th>
            <th>終点</th>
            <th>ＴＡＸＩ以外</th>
            <th>ＴＡＸＩ</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.payment.transports.length === 0">
            <td colspan="10">交通費が登録されません！</td>
          </tr>
          <tr ng-repeat="transport in vm.payment.transports track by $index">
            <td>{{ transport.date | LL }} {{ transport.date | dddd }}</td>
            <td>{{ transport.content }}</td>
            <td>{{ transport.start }}</td>
            <td>{{ transport.end }}</td>
            <td>
              <input type="checkbox" value="{{ transport.round }}">
            </td>
            <td>
              <p class="mgn">{{ transport.method | TransportMethod }}</p>
              <p class="mgn" ng-show="transport.method === 0">{{ transport.other_method }}</p>
            </td>
            <td>{{ transport.fee }}</td>
            <td>{{ transport.taxi_fee }}</td>
            <td>
              <a ng-repeat="receipt in transport.receipts" ng-click="handleShowImage(receipt)">
                <img class="w50 img-thumbnail" src="{{ receipt }}">
              </a>
            </td>
            <td>
              <a ng-click="vm.handleRemoveTransport(transport)" class="text-danger">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr class="mgn">
    </div>
    <!-- 出張旅費 -->
    <div class="col-xs-12">
      <h3>出張旅費</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th rowspan="2">日付</th>
            <th rowspan="2">顧客名・事業内容</th>
            <th colspan="2">経路</th>
            <th rowspan="2">往復</th>
            <th colspan="2">出張旅費</th>
            <th rowspan="2">宿泊費</th>
            <th rowspan="2">領収書</th>
            <th rowspan="2" class="text-center w50">
              <button class="btn btn-primary btn-sm" ng-click="vm.handleAddTrip()">追加</button>
            </th>
          </tr>
          <tr>
            <th>起点</th>
            <th>終点</th>
            <th>摘要</th>
            <th>金額</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.payment.trips.length === 0">
            <td colspan="10">出張旅費が登録されません！</td>
          </tr>
          <tr ng-repeat="trip in vm.payment.trips track by $index">
            <td>{{ trip.date | LL }} {{ trip.date | dddd }}</td>
            <td>{{ trip.content }}</td>
            <td>{{ trip.start }}</td>
            <td>{{ trip.end }}</td>
            <td>
              <input type="checkbox" value="{{ trip.round }}">
            </td>
            <td>
              <p class="mgn">{{ trip.method | TripMethod }}</p>
              <p class="mgn" ng-show="transport.method === 0">{{ trip.other_method }}</p>
            </td>
            <td>{{ trip.fee }}</td>
            <td>{{ trip.stay_fee }}</td>
            <td>
              <a ng-repeat="receipt in trip.receipts" ng-click="handleShowImage(receipt)">
                <img class="w50 img-thumbnail" src="{{ receipt }}">
              </a>
            </td>
            <td>
              <a ng-click="vm.handleRemoveTrip(trip)" class="text-danger">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr class="mgn">
    </div>
    <!-- 車両燃料費 -->
    <div class="col-xs-12">
      <h3>車両燃料費</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>日付</th>
            <th>摘要</th>
            <th>目的</th>
            <th>金額</th>
            <th>領収書</th>
            <th class="text-center w50">
              <button class="btn btn-primary btn-sm" ng-click="vm.handleAddVehicle()">追加</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.payment.vehicles.length === 0">
            <td colspan="10">出張旅費が登録されません！</td>
          </tr>
          <tr ng-repeat="vehicle in vm.payment.vehicles track by $index">
            <td>{{ vehicle.date | LL }} {{ vehicle.date | dddd }}</td>
            <td>{{ vehicle.content }}</td>
            <td>{{ vehicle.purpose }}</td>
            <td>{{ vehicle.fee }}</td>
            <td>
              <a ng-repeat="receipt in vehicle.receipts" ng-click="handleShowImage(receipt)">
                <img class="w50 img-thumbnail" src="{{ receipt }}">
              </a>
            </td>
            <td>
              <a ng-click="vm.handleRemoveVehicle(vehicle)" class="text-danger">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr class="mgn">
    </div>
    <!-- その他の費用（備品等） -->
    <div class="col-xs-12">
      <h3>その他の費用（備品等）</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>日付</th>
            <th>摘要</th>
            <th>勘定科目</th>
            <th>金額</th>
            <th>領収書</th>
            <th class="text-center w50">
              <button class="btn btn-primary btn-sm" ng-click="vm.handleAddOther()">追加</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.payment.others.length === 0">
            <td colspan="6">その他の費用が登録されません！</td>
          </tr>
          <tr ng-repeat="other in vm.payment.others track by $index">
            <td>{{ other.date | LL }} {{ other.date | dddd }}</td>
            <td>{{ other.content }}</td>
            <td>{{ other.kind | OtherKind }}</td>
            <td>{{ other.fee }}</td>
            <td>
              <a ng-repeat="receipt in other.receipts" ng-click="handleShowImage(receipt)">
                <img class="w50 img-thumbnail" src="{{ receipt }}">
              </a>
            </td>
            <td>
              <a ng-click="vm.handleRemoveOther(other)" class="text-danger">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <hr class="mgn">
    </div>
    <!-- 接待交際費 -->
    <div class="col-xs-12">
      <h3>会議費 ･接待交際費報告書</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>日付</th>
            <th>顧客名・事業内容</th>
            <th>場所</th>
            <th>顧客氏名</th>
            <th>社員氏名</th>
            <th>人数合計</th>
            <th>使用金額</th>
            <th>1人当たり</th>
            <th>勘定科目</th>
            <th>種別</th>
            <th class="text-center w50">
              <button class="btn btn-primary btn-sm" ng-click="vm.handleAddMeeting()">追加</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="vm.payment.meetings.length === 0">
            <td colspan="11">接待交際費が登録されません！</td>
          </tr>
          <tr ng-repeat="meeting in vm.payment.meetings track by $index">
            <td>{{ meeting.date | LL }} {{ meeting.date | dddd }}</td>
            <td>{{ meeting.content }}</td>
            <td>{{ meeting.location }}</td>
            <td>
              <p ng-repeat="partner in meeting.partners">{{ partner }}</p>
            </td>
            <td>
              <p ng-repeat="employee in meeting.employees">{{ employee }}</p>
            </td>
            <td>{{ meeting.total }}</td>
            <td>{{ meeting.fee }}</td>
            <td>{{ meeting.amount }}</td>
            <td>
              <p class="mgn">{{ meeting.account | MeetingAccount }}</p>
              <p class="mgn" ng-show="meeting.account === 0">{{ meeting.account_method }}</p>
            </td>
            <td>
              <p class="mgn">{{ meeting.kind | MeetingKind }}</p>
              <p class="mgn" ng-show="meeting.kind === 0">{{ meeting.kind_other }}</p>
            </td>
            <td>
              <a ng-repeat="receipt in meeting.receipts" ng-click="handleShowImage(receipt)">
                <img class="w50 img-thumbnail" src="{{ receipt }}">
              </a>
            </td>
            <td>
              <a ng-click="vm.handleRemoveMeeting(meeting)" class="text-danger">
                <i class="fa fa-times"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>