.notifications .notification-item {
  padding: 5px;
  display: flex; }
.notifications .notification-item:hover {
  background-color: #f1f8ff; }
  .notifications .notification-item-col {
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    width: 50px; }

  .notifications .notification-item .notification-item-col.notification-image {
    text-align: center;
    width: 36px; }
    .notifications .notification-item .notification-item-col.notification-image img {
      height: 36px;
      width: 36px;
      border-radius: 3px; }

  .notifications .notification-item .notification-item-col.notification-content  {
    flex-grow: 1;
    margin-left: 5px; }
    .notifications .notification-item .notification-item-col.notification-content .message-content-title {
      width: 100%;
      height: 25px;
      line-height: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .notifications .notification-item .notification-item-col.notification-content .message-content-title a {
        vertical-align: top; }
    .notifications .notification-item .notification-item-col.notification-content .message-content-time {
      width: 100%;
      height: 15px;
      line-height: 15px; }
      .notifications .notification-item .notification-item-col.notification-content .message-content-time span {
        vertical-align: bottom;
        font-size: 12px;
        color: #999; }
  .notifications .notification-item .notification-item-col.notification-action {
    width: 30px;
    text-align: center; }
    .notifications .notification-item .notification-item-col.notification-action a {
      font-size: 21px;
      color: #ccc; }
    .notifications .notification-item .notification-item-col.notification-action a:hover {
      color: #337ab7; }