.notifications .notification-item {
  display: flex;
  flex-direction: row; }
.notifications .notification-item:hover {
  background-color: #f1f8ff; }
  .notifications .notification-item .notification-item-image {
    height: 34px;
    width: 34px;
    margin-right: 5px; }
    .notifications .notification-item .notification-item-image img {
      height: 34px;
      width: 34px;
      border-radius: 3px; }
  .notifications .notification-item .notification-item-content {
    flex-grow: 1 }
    .notifications .notification-item .notification-item-content p {
      margin-bottom: 0; }
    .notifications .notification-item .notification-item-content span {
      font-size: 8px;
      color: #ccc; }
  .notifications .notification-item .notification-item-action {
    width: 50px;
    text-align: right;}