.room-form {
  width: 100%; }
  .room-form .form-group {
    margin-bottom: 10px; }
  .room-form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1px;
    font-weight: 500; }
  .room-form .drop-image-box {
    position: relative;
    height: 80px;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    border: 2px dashed lightgray;
    background-color: #fff }
    .room-form .drop-image-box.nv-file-over {
      border: 2px dashed #3399ff; }
    .room-form .drop-image-box .btn-upload-file {
      position: absolute;
      right: 10px;
      bottom: 10px; }
  .room-form .receipt-img {
    display: inline-block;
    margin-right: 5px;
    width: 50px;
    height: auto; }
    .room-form .receipt-img canvas {
      width: 50px;
      height: auto; }

.booking-step {
  padding: 0px;
  background: transparent;
  list-style: none;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px; }
  .booking-step > li {
    display: table-cell;
    vertical-align: top;
    width: 1%; }
    .booking-step > li+li:before {
      padding: 0; }
    .booking-step li a {
      color: #999;
      text-decoration: none;
      padding: 10px 0 10px 10px;
      position: relative;
      display: inline-block;
      width: calc( 100% - 10px );
      background-color: #dcdcdc;
      text-align: center;
      text-transform: capitalize; }
    .booking-step li.completed a {
      color: #fff;
      background: brown;
      background: #449d44; }
    .booking-step li.completed a:after {
      border-left: 30px solid #449d44; }
    .booking-step li.active a {
      color: #fff;
      background: #f0ad4e; }
    .booking-step li.active a:after {
      border-left: 30px solid #f0ad4e; }
    .booking-step li:first-child a {
      padding-left: 15px; }
    .booking-step li:last-of-type a {
      width: calc( 100% - 38px ); }
    .booking-step li a:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 30px solid white;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      margin-left: 1px;
      left: 100%;
      z-index: 1; }
    .booking-step li a:after {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;
      border-left: 30px solid #dcdcdc;
      position: absolute;
      top: 50%;
      margin-top: -50px;
      left: 100%;
      z-index: 2; }
    

.booking-condition,
.booking-rooms,
.booking-confirm,
.booking-result {
  width: 100%;
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  opacity:1; }
  .booking-condition.ng-hide,
  .booking-rooms.ng-hide,
  .booking-confirm.ng-hide,
  .booking-result.ng-hide {
    opacity:0; }


/* flip in */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}