.transport .form-group {
  margin-bottom: 10px; }
.transport label {
  display: inline-block;
  max-width: 100%;
  font-weight: 500; }
.transport .drop-image-box {
  position: relative;
  height: 80px;
  width: 100%;
  border: 2px dashed lightgray;
  background-color: #fff }
  .transport .drop-image-box.nv-file-over {
    border: 2px dashed #3399ff; }
  .transport .drop-image-box .btn-upload-file {
    position: absolute;
    right: 10px;
    bottom: 10px; }
.transport .receipt-img {
  display: inline-block;
  margin-right: 5px;
  width: 50px;
  height: auto; }
  .transport .receipt-img canvas {
    width: 50px;
    height: auto; }