<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <label>宛先：</label>
        <label class="mg10l">
          <input type="radio" ng-model="vm.message.destination" value=1 ng-change="vm.handleDestinationChanged()">全員</label>
        <label class="mg5l">
          <input type="radio" ng-model="vm.message.destination" value=2 ng-change="vm.handleDestinationChanged()">部署</label>
        <label class="mg5l">
          <input type="radio" ng-model="vm.message.destination" value=3 ng-change="vm.handleDestinationChanged()">社員</label>
        <div ng-show="vm.message.destination === '2'" class="form-group">
          <tags-input class="my-tags" ng-model="vm.message.departments" key-property="_id" template="departments_tags.html" display-property="name"
            placeholder="部門検索" replace-spaces-with-dashes="false">
            <auto-complete source="vm.handleSearchDepartments($query)" min-length="1" load-on-focus="true" load-on-empty="true" max-results-to-show="32"
              template="autocomplete.html"></auto-complete>
          </tags-input>
        </div>
        <div ng-show="vm.message.destination === '3'" class="form-group">
          <tags-input class="my-tags" ng-model="vm.message.users" key-property="_id" template="users_tags.html" display-property="displayName"
            placeholder="社員検索" replace-spaces-with-dashes="false">
            <auto-complete source="vm.handleSearchUsers($query)" min-length="1" load-on-focus="true" load-on-empty="true" max-results-to-show="32"
              template="autocomplete.html"></auto-complete>
          </tags-input>
        </div>
        <div class="form-group text-right mgnb">
          <button class="btn btn-primary btn-sm" ng-click="vm.handleSendMessage()">送信</button>
          <button class="btn btn-default btn-sm" ng-click="vm.handleCancelMessage()">キャンセル</button>
        </div>
      </div>

      <div class="well">
        <div class="form-group">
          <label for="title">タイトル</label>
          <input type="text" class="form-control" ng-model="vm.message.title" placeholder="お知らせのタイトル">
        </div>
        <div class="form-group">
          <label for="content">内容</label>
          <textarea class="form-control h200" ng-model="vm.message.content" placeholder="お知らせの内容" required></textarea>
        </div>
      </div>

    </div>
  </div>
  <div class="clearfix"></div>
</div>

<script type="text/ng-template" id="departments_tags.html">
  <a ui-sref="departments.view({ departmentId: data._id })">{{ data.name }}</a>
  <a class="remove-button" ng-click="$removeTag()" ng-bind="$$removeTagSymbol"></a>
</script>

<script type="text/ng-template" id="users_tags.html">
  <a ui-sref="users.view({ userId: data._id })">{{ data.displayName }}</a>
  <a class="remove-button" ng-click="$removeTag()" ng-bind="$$removeTagSymbol"></a>
</script>

<script type="text/ng-template" id="autocomplete.html">
  <div class="my-autocomplete">
    <div class="left-panel">
      <img src="{{ data.profileImageURL || data.avatar }}" />
    </div>
    <div class="right-panel">
      <span>{{ data.displayName || data.name }}</span>
      <span>{{ data.email }}</span>
    </div>
  </div>
</script>