<div class="container animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group text-right">
        <button class="btn btn-danger" ng-click="vm.handleClearAllMessages()">クリア</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group messages">
        <li class="list-group-item" ng-if="vm.messages.length === 0">
          <span>メッセージがありません！</span>
        </li>
        <li class="list-group-item message-item" ng-repeat="message in vm.messages">
          <div class="message-item-col message-status">
            <i class="fa" ng-class="{ 'fa-envelope-o': message.status === 1, 'fa-envelope-open-o': message.status === 2 }"></i>
          </div>
          <div class="message-item-col message-image">
            <img src="{{ message.from.profileImageURL }}" tooltip="{{message.from.displayName}}">
          </div>
          <div class="message-item-col message-content">
            <div class="message-content-title">
              <!-- <a ui-sref="messages.view({ messageId: message._id })">{{ message.title }}</a> -->
            </div>
            <div class="message-content-time">
              <!-- <span am-time-ago="message.created"></span> -->
            </div>
          </div>
          <div class="message-item-col message-action">
            <a ng-click="vm.handleRemoveMessage(message)"><i class="fa fa-times"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>