<div class="container animated fadeIn">
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <div class="message-detail">
          <div class="message-detail-row message-title">
            <div class="message-from-image">
              <img src="{{ vm.message.from.profileImageURL }}">
            </div>
            <div class="message-subject">
              <p class="message-subject-time">{{ vm.message.created | LLLL }}</p>
              <p class="message-from-name">{{ vm.message.from.displayName }}</p>
              <p class="message-subject-title">{{ vm.message.title }}</p>
            </div>
          </div>
          <div class="message-detail-row message-content">
            <p>{{ vm.message.content }}</p>
          </div>
          <div class="message-detail-row message-action">
            <button class="btn btn-danger btn-sm" ng-click="vm.handleRemoveMessage()">削除</button>
            <button class="btn btn-default btn-sm" ng-click="handleBackScreen('home')">戻る</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>