<div class="container-fluid animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group text-right">
        <a class="btn btn-primary" ui-sref="workrests.create">登録</a>
      </div>
    </div>
  </div>
  <!-- 検索ツール -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-push-6">
      <!-- 検索ツール -->
      <accordion close-others="true" ng-init="openTools = false;">
        <accordion-group is-open="openTools">
          <accordion-heading>
            <i class="fa fa-arrow-circle-down" ng-class="{ 'fa-rotate-180': openTools }"></i> 検索ツール
          </accordion-heading>
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" ng-model="vm.condition.search" class="form-control" placeholder="検索キー">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <label for="status" class="w100p pd15l">検索範囲</label>
            <div class="col-sm-6" ng-init="startDatePickerOpen = false;">
              <div class="input-group">
                <input name="start" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.start" is-open="startDatePickerOpen"
                  close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body placeholder="開始" show-weeks="false"
                  readonly="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="startDatePickerOpen = true;">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-sm-6" ng-init="endDatePickerOpen = false;">
              <div class="input-group">
                <input name="end" type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="vm.condition.end" is-open="endDatePickerOpen"
                  close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body placeholder="終了" show-weeks="false"
                  readonly="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="endDatePickerOpen = true;">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <label for="status">状態</label>
              <select name="status" class="form-control" ng-model="vm.condition.status">
                <option value>全て</option>
                <option value="1">未申請</option>
                <option value="2">確認中</option>
                <option value="3">承認</option>
                <option value="4">拒否</option>
                <option value="5">取り消し申請中</option>
                <option value="6">完了</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="sort">並び順</label>
              <select name="sort" class="form-control" ng-model="vm.condition.sort">
                <option value="-created">登録の新しい順番</option>
                <option value="created">登録の古い順番</option>
                <option value="-duration">期間の長い順番</option>
                <option value="duration">期間の短い順番</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group text-right">
            <button class="btn btn-sm btn-danger" ng-click="vm.handleClearCondition()">クリア</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.handleStartSearch()">検索</button>
          </div>
        </accordion-group>
      </accordion>
      <!-- 休暇一覧 -->
      <p>全 {{ vm.total }} 件</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="w50 text-center">操作</th>
              <th>形態</th>
              <th>開始</th>
              <th>終了</th>
              <th>事由</th>
              <th class="text-center">状態</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="vm.workrests.length === 0">
              <td colspan="6">データが見つかりません。</td>
            </tr>
            <tr ng-repeat="workrest in vm.workrests track by $index" class="clickable" ng-click="vm.hanleSelectWorkrest(workrest)">
              <td class="w50 text-center">
                <div dropdown dropdown-append-to-body>
                  <a dropdown-toggle class="btn btn-xs btn-default inside-clickable">
                    <i class="glyphicon glyphicon-option-horizontal"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <!-- Xem detail Workrest -->
                    <li>
                      <a ui-sref="workrests.view({ workrestId: workrest._id })">詳細</a>
                    </li>
                    <!-- Gửi request -->
                    <li ng-if="workrest.status === 1 || workrest.status === 4">
                      <a ng-click="vm.handleRequestWorkrest(workrest)">申請</a>
                    </li>
                    <!-- Hủy bỏ request -->
                    <li ng-if="workrest.status === 2">
                      <a ng-click="vm.handleCancelWorkrest(workrest)">申請キャンセル</a>
                    </li>
                    <!-- Chỉnh sửa khi chưa request hoặc khi bị reject -->
                    <li ng-if="workrest.status === 1 || workrest.status === 4">
                      <a ui-sref="workrests.edit({ workrestId: workrest._id })">編集</a>
                    </li>
                    <!-- Xóa khi đang ở trạng thái chưa request hoặc bị reject -->
                    <li ng-if="workrest.status === 1 || workrest.status === 4">
                      <a ng-click="vm.handleDeleteWorkrest(workrest)">削除</a>
                    </li>
                    <!-- Gửi nhờ xóa rest -->
                    <li ng-if="workrest.status === 3">
                      <a ng-click="vm.handleRequestDelete(workrest)">取り消し申請</a>
                    </li>
                    <!-- Xem lịch sử -->
                    <li>
                      <a ng-click="vm.handleViewHistory(workrest)">歴史</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td>{{ workrest.holiday.name }}</td>
              <td>{{ workrest.start | LL }}</td>
              <td>{{ workrest.end | LL }}</td>
              <td>
                <p class="mgn" ng-bind-html="workrest.description | nl2br"></p>
              </td>
              <td class="text-center">{{ workrest.status | StatusFilter }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <pagination total-items="vm.total" ng-model="vm.page" max-size="5" boundary-links="true" items-per-page="vm.condition.limit"
        ng-change="vm.handlePageChanged()" previous-text="前" next-text="次" first-text="最初" last-text="最後"></pagination>

      <!-- 歴史 -->
      <div class="form-group text-right">
        <button ng-show="vm.isShowHistory" class="btn btn-warning btn-sm" ng-click="vm.isShowHistory = false;">歴史表を閉じる</button>
      </div>
      <div class="table-responsive" ng-show="vm.isShowHistory">
        <table class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th class="w30 text-center">#</th>
              <th>日付</th>
              <th>操作</th>
              <th>操作者</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="history in vm.historys">
              <td class="w30 text-center">{{ $index + 1 }}</td>
              <td>{{ history.timing | LLLL }}</td>
              <td>{{ history.action | ActionFilter }}</td>
              <td>
                <a ng-click="handleViewDetailUser(history.user)">{{history.user.displayName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-md-pull-6">
      <!-- # MOBILE # -->
      <div class="form-group" ng-if="isMobile" ng-init="isCloseCalendar = true;">
        <button class="btn btn-success btn-sm btn-block" ng-click="isCloseCalendar = !isCloseCalendar">
          <i class="fa fa-calendar"></i> {{ (isCloseCalendar) ? 'カレンダー表示' : 'カレンダー非表示' }}</button>
        <div collapse="isCloseCalendar">
          <div class="row text-center mg5t">
            <div class="btn-group">
              <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" decrement="vm.calendar.view">前へ</button>
              <button class="btn btn-default btn-sm" mwl-date-modifier date="vm.calendar.viewDate" set-to-today>本日</button>
              <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" increment="vm.calendar.view">次へ</button>
            </div>
          </div>
          <h3 class="text-center">{{ vm.calendar.title }}</h3>
          <mwl-calendar events="vm.events" view="vm.calendar.view" view-date="vm.calendar.viewDate" view-title="vm.calendar.title"
            cell-modifier="vm.calendar.cellModifier(calendarCell)" on-view-change-click="vm.handleCalendarEventClicked(calendarDate)"
            on-date-range-select="vm.handleCalendarRangeSelected(calendarRangeStartDate, calendarRangeEndDate)" on-timespan-click="vm.handleCalendarClicked(calendarDate)"
            on-event-click="vm.hanleSelectWorkrestOnCalendar(calendarEvent)">
          </mwl-calendar>
        </div>
      </div>
      <!-- # DESKTOP # -->
      <div class="form-group" ng-if="!isMobile">
        <div class="row text-center">
          <div class="btn-group">
            <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" decrement="vm.calendar.view">前へ</button>
            <button class="btn btn-default btn-sm" mwl-date-modifier date="vm.calendar.viewDate" set-to-today>本日</button>
            <button class="btn btn-primary btn-sm" mwl-date-modifier date="vm.calendar.viewDate" increment="vm.calendar.view">次へ</button>
          </div>
        </div>
        <h3 class="text-center">{{ vm.calendar.title }}</h3>
        <mwl-calendar events="vm.events" view="vm.calendar.view" view-date="vm.calendar.viewDate" view-title="vm.calendar.title"
          cell-modifier="vm.calendar.cellModifier(calendarCell)" on-view-change-click="vm.handleCalendarEventClicked(calendarDate)"
          on-date-range-select="vm.handleCalendarRangeSelected(calendarRangeStartDate, calendarRangeEndDate)" on-timespan-click="vm.handleCalendarClicked(calendarDate)"
          on-event-click="vm.handleRestClicked(calendarEvent)">
        </mwl-calendar>
      </div>
    </div>
  </div>
</div>