<section>
  <div class="page-header">
    <h1>Notifications</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="notif in vm.notifs" ui-sref="{{notif.state}}" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="notif.created | date:'mediumDate'"></span>
        by
        <span>Deleted User</span>
        <span>{{notif.to.displayName}}</span>
      </small>
      <h4 class="list-group-item-heading">notif.from.displayName</h4>
    </a>
  </div>
</section>
