.chats {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column; }
  .chats .chat-toolbar {
    background-color: #1a1a1a;
    color: #fff;
    padding: 8px;
    height: 50px;
    width: 100%;}
  .chats .chat-content {
    background-color: #fff;
    flex-grow: 1;
    width: 100%;
    display: flex; }
    .chats .chat-content .chat-lefside {
      width: 300px; }
    .chats .chat-content .chat-center {
      flex-grow: 1;
      border-left: 1px solid #ccc; 
      border-right: 1px solid #ccc;
      display: flex;
      flex-direction: column; }
    .chats .chat-content .chat-rightside {
      width: 250px;
      padding: 8px; }
    .chats .chat-content .chat-lefside:hover,
    .chats .chat-content .chat-rightside:hover {
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
    .chats .chat-content .chat-center .chat-messages {
      flex-grow: 1; }
    .chats .chat-content .chat-center .chat-input {
      min-height: 160px; }
      .chats .chat-content .chat-center .chat-input .input-block {
        position: relative;
        margin: 8px;
        border: 1px solid #ccc;
        border-radius: 3px; }
        .chats .chat-content .chat-center .chat-input .input-block .input-toolbar {
          height: 40px;
          width: 100%;
          border-bottom: 1px solid #ccc;}
        .chats .chat-content .chat-center .chat-input .input-block .input-type {
          position: relative;
          min-height: 110px;
          width: 100%;}
          .chats .chat-content .chat-center .chat-input .input-block .input-type textarea.input-type-area{
            border-radius: 0;
            box-shadow: none;
            box-sizing: border-box;
            width: 100%;
            outline: 0;
            margin: 0;
            padding: 5px;
            border: none;
            background: transparent;
            overflow-y: hidden;
            min-height: 110px;
            font-size: 14px; }

.chats .list-group.chat-list .list-group-item {
  padding: 8px;
  border: none;
  border-radius: 0 !important; }
  .chats .list-group.chat-list .list-group-item.active,
  .chats .list-group.chat-list .list-group-item.active:hover,
  .chats .list-group.chat-list .list-group-item.active:focus {
    color: #555;
    background-color: #f4f4f4; }

.chats .chat-user {
  position: relative;
  width: 100%;
  height: 40px; }
  .chats .chat-user img { 
    width: 40px;
    height: 40px;
    border-radius: 50%; }
.chats .chat-room {
  position: relative;
  width: 100%;
  height: 40px; }
  .chats .chat-room img { 
    width: 40px;
    height: 40px;
    border-radius: 50%; }