.chat-screen {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fff; }
  .chat-screen .chat-lefside,
  .chat-screen .chat-rightside {
    min-width: 200px;
    width: 250px;
    display: flex;
    flex-direction: column; }
  .chat-screen .chat-center {
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 300px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column; }
    .chat-screen .chat-lefside .leftside-toolbar,
    .chat-screen .chat-rightside .rightside-toolbar {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 8px;
      height: 41px;
      background-color: #f2f2f2;
      border-bottom: 1px solid #cccccc; }
    .chat-screen .chat-lefside .leftside-wrapper,
    .chat-screen .chat-rightside .rightside-wrapper {
      display: flex;
      flex: 1;
      min-height: 0; }
      .chat-screen .chat-lefside .leftside-container,
      .chat-screen .chat-rightside .rightside-container {
        flex: 1;
        overflow: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar; }
        .chat-screen .chat-lefside .leftside-container,
        .chat-screen .chat-rightside .rightside-container {
          flex: 1;
          overflow: auto;
          -ms-overflow-style: -ms-autohiding-scrollbar; }
          .chat-screen .chat-lefside .leftside-container .leftside-content .list-group.chat-list .list-group-item,
          .chat-screen .chat-rightside .rightside-container .rightside-content .list-group.chat-list .list-group-item  {
            padding: 8px;
            border: none;
            border-radius: 0 !important; }
          .chat-screen .chat-lefside .leftside-container .leftside-content .list-group.chat-list .list-group-item.active,
          .chat-screen .chat-lefside .leftside-container .leftside-content .list-group.chat-list .list-group-item.active:hover,
          .chat-screen .chat-lefside .leftside-container .leftside-content .list-group.chat-list .list-group-item.active:focus,
          .chat-screen .chat-rightside .rightside-container .rightside-content .list-group.chat-list .list-group-item.active,
          .chat-screen .chat-rightside .rightside-container .rightside-content .list-group.chat-list .list-group-item.active:hover,
          .chat-screen .chat-rightside .rightside-container .rightside-content .list-group.chat-list .list-group-item.active:focus  {
            color: #555;
            background-color: #f4f4f4; }
            .chat-screen .chat-lefside .leftside-container .leftside-content .list-group.chat-list .list-group-item .item-content,
            .chat-screen .chat-rightside .rightside-container .rightside-content .list-group.chat-list .list-group-item .item-content {
              position: relative;
              width: 100%;
              height: 40px; }
              .chat-screen .chat-lefside .leftside-container .leftside-content .list-group.chat-list .list-group-item .item-content img,
              .chat-screen .chat-rightside .rightside-container .rightside-content .list-group.chat-list .list-group-item .item-content img { 
                width: 40px;
                height: 40px;
                border-radius: 50%; }

    .chat-screen .chat-center .center-toolbar {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 8px;
      height: 41px;
      background-color: #f2f2f2;
      border-bottom: 1px solid #cccccc; }
      .chat-screen .chat-center .center-toolbar h1.room-title {
        font-size: 18px;
        font-weight: 600;
        margin: 0; }
    .chat-screen .chat-center .center-input {
      min-height: 160px;
      padding-bottom: 10px; }
      .chat-screen .chat-center .center-input .input-block {
        position: relative;
        margin: 8px;
        border: 1px solid #ccc;
        border-radius: 3px; }
        .chat-screen .chat-center .center-input .input-block .input-toolbar {
          height: 40px;
          width: 100%;
          border-bottom: 1px solid #ccc;}
        .chat-screen .chat-center .center-input .input-block .input-type {
          position: relative;
          min-height: 110px;
          width: 100%;}
          .chat-screen .chat-center .center-input .input-block .input-type textarea.input-type-area{
            border-radius: 0;
            box-shadow: none;
            box-sizing: border-box;
            width: 100%;
            outline: none;
            margin: 0;
            padding: 5px;
            border: none;
            background: transparent;
            overflow-y: hidden;
            min-height: 110px;
            font-size: 14px; }

    .chat-screen .chat-center .center-wrapper {
      display: flex;
      flex: 1;
      min-height: 0; }
      .chat-screen .chat-center .center-container {
        flex: 1;
        overflow: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar; }
        .chat-screen .chat-center .center-container {
          flex: 1;
          overflow: auto;
          -ms-overflow-style: -ms-autohiding-scrollbar; }
          .chat-screen .chat-center .center-container .messages {
            list-style: none;
            margin: 0;
            padding: 0; }
            .chat-screen .chat-center .center-container .messages li {
              padding: 10px 5px;
              border-bottom: 1px dotted #B3A9A9; }
              .chat-screen .chat-center .center-container .messages li:last-child {
                border: none; }
              .chat-screen .chat-center .center-container .messages li.left {
                background-color: #EAF2F7; }
              .chat-screen .chat-center .center-container .messages li .chat-img,
              .chat-screen .chat-center .center-container .messages li .chat-img img {
                width: 38px;
                height: 38px;
                border-radius: 50%; }
              .chat-screen .chat-center .center-container .messages li.left .chat-img {
                float: left !important; }
              .chat-screen .chat-center .center-container .messages li.right .chat-img {
                float: right !important; }
              .chat-screen .chat-center .center-container .messages li .chat-body .header{
                width: 100%;
                height: 30px;
                line-height: 30px; }
              .chat-screen .chat-center .center-container .messages li.left .chat-body {
                margin-left: 44px; }
              .chat-screen .chat-center .center-container .messages li.right .chat-body {
                margin-right: 44px; }
                .chat-screen .chat-center .center-container .messages li.left .chat-body .message-owner {
                  float: left !important; }
                .chat-screen .chat-center .center-container .messages li.right .chat-body .message-owner{
                  float: right !important; }
                .chat-screen .chat-center .center-container .messages li.left .chat-body .message-time {
                  float: right !important; }
                .chat-screen .chat-center .center-container .messages li.right .chat-body .message-time{
                  float: left !important; }
                .chat-screen .chat-center .center-container .messages li .chat-body .message-content {
                  margin: 0;
                  color: #555; }
                .chat-screen .chat-center .center-container .messages li.right .chat-body .message-content {
                  text-align: right; }

    .chat-screen .chat-center .chat-messages {
      flex-grow: 1;
      overflow-y: auto;
      min-height: 200px; }
    .chat-screen .chat-center .chat-input {
      min-height: 160px; }
      .chat-screen .chat-center .chat-input .input-block {
        position: relative;
        margin: 8px;
        border: 1px solid #ccc;
        border-radius: 3px; }
        .chat-screen .chat-center .chat-input .input-block .input-toolbar {
          height: 40px;
          width: 100%;
          border-bottom: 1px solid #ccc;}
        .chat-screen .chat-center .chat-input .input-block .input-type {
          position: relative;
          min-height: 110px;
          width: 100%;}
          .chat-screen .chat-center .chat-input .input-block .input-type textarea.input-type-area{
            border-radius: 0;
            box-shadow: none;
            box-sizing: border-box;
            width: 100%;
            outline: none;
            margin: 0;
            padding: 5px;
            border: none;
            background: transparent;
            overflow-y: hidden;
            min-height: 110px;
            font-size: 14px; }
