.messages .message-item {
  padding: 5px;
  display: flex; }
.messages .message-item:hover {
  background-color: #f1f8ff; }
  .messages .message-item-col {
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    width: 50px; }

  .messages .message-item-col.message-status {
    text-align: center;
    width: 30px; }

  .messages .message-item-col.message-image {
    text-align: center;
    width: 36px; }
    .messages .message-item-col.message-image img {
      height: 36px;
      width: 36px;
      border-radius: 3px; }

  .messages .message-item-col.message-action {
    width: 30px;
    text-align: center; }
    .messages .message-item-col.message-action a {
      font-size: 21px;
      color: #ccc; }
    .messages .message-item-col.message-action a:hover {
      color: #337ab7; }

  .messages .message-item-col.message-content {
    flex-grow: 1;
    margin-left: 5px; }
    .messages .message-item-col.message-content .message-content-title {
      width: 100%;
      height: 25px;
      line-height: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .messages .message-item-col.message-content .message-content-title a {
        vertical-align: top; }
    .messages .message-item-col.message-content .message-content-time {
      width: 100%;
      height: 15px;
      line-height: 15px; }
      .messages .message-item-col.message-content .message-content-time span {
        vertical-align: bottom;
        font-size: 12px;
        color: #999; }
.message-detail {
  display: flex;
  flex-direction: column; }
  .message-detail .message-detail-row {
    margin-bottom: 5px; }
  .message-detail .message-detail-row.message-title {
    display: flex; }
    .message-detail .message-detail-row.message-title .message-from-image {
      height: 80px;
      width: 80px;
      background-color: green;
      margin-right: 10px; }
      .message-detail .message-detail-row.message-title .message-from-image img {
        height: 80px;
        width: 80px; }
    .message-detail .message-detail-row.message-title .message-subject {
      flex-grow: 1; }
      .message-detail .message-detail-row.message-title .message-subject .message-subject-time {
        color: #888;
        line-height: 12px;
        font-size: 12px; }
      .message-detail .message-detail-row.message-title .message-subject .message-from-name {
        color: #666;
        line-height: 16px;
        font-size: 16px; }
      .message-detail .message-detail-row.message-title .message-subject .message-subject-title {
        font-size: 18px; }
    .message-detail .message-detail-row.message-title .message-action {
      text-align: right; }