.messages .message-item {
  padding: 5px;
  display: flex; }
.messages .message-item:hover {
  background-color: #f1f8ff; }
  .messages .message-item-col {
    height: 40px;
    line-height: 40px;
    margin-left: 2px;
    margin-right: 2px;
    width: 50px; }

  .messages .message-item-col.message-status {
    text-align: center;
    width: 30px; }

  .messages .message-item-col.message-image {
    text-align: center;
    width: 36px; }
    .messages .message-item-col.message-image img {
      height: 36px;
      width: 36px;
      border-radius: 3px; }

  .messages .message-item-col.message-action {
    width: 30px; 
    text-align: center; }

  .messages .message-item-col.message-content {
    flex-grow: 1; }
    .messages .message-item-col.message-content .message-content-title {
      width: 100%;
      height: 25px;
      background-color: green; }
    .messages .message-item-col.message-content .message-content-time {
      width: 100%;
      height: 15px;
      background-color: blue; }
  
  /* .messages .message-item .message-item-status {
    width: 36px;
    margin-right: 5px; }
  .messages .message-item .message-item-image {
    height: 36px;
    width: 36px;
    margin-right: 10px; }
    .messages .message-item .message-item-image img {
      height: 36px;
      width: 36px;
      border-radius: 3px; }
  .messages .message-item .message-item-content {
    flex-grow: 1 }
    .messages .message-item .message-item-content a {
      display: block;
      line-height: 1.2; }
    .messages .message-item .message-item-content span {
      font-size: 10px;
      color: #999; }
  .messages .message-item .message-item-action {
    width: 50px;
    text-align: right;
    padding: 8px 0; }
    .messages .message-item .message-item-action a {
      line-height: 1;
      margin-left: 5px;
      color: #ccc; }
    .messages .message-item .message-item-action a:hover {
      color: #337ab7; } */