<div class="transport">
  <div class="row" nv-file-drop="" uploader="uploader">
    <div class="col-xs-12">
      <div class="form-group" ng-show="uploader.isUploading">
        <p class="text-muted" ng-bind="uploadingFileName"></p>
        <div class="progress progress-xs">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error': other.date_error }">
        <label>日付</label>
        <div class="input-group">
          <input type="text" class="form-control input-sm" datepicker-popup="yyyy/MM/dd" ng-model="other.date" is-open="other.is_open_picker"
            close-text="閉じる" current-text="本日" clear-text="クリア" datepicker-append-to-body ng-change="vm.handleTransportDateChanged(other)"
            show-weeks="false" readonly="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm" ng-click="other.is_open_picker = true;">
              <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': other.content_error }">
        <label>摘要</label>
        <input class="form-control input-sm" ng-model="other.content" type="text" />
      </div>

      <div class="form-group" ng-class="{ 'has-error': other.purpose_error }">
        <label>目的</label>
        <input class="form-control input-sm" ng-model="other.purpose" type="text" />
      </div>

      <div class="form-group">
        <label>金額</label>
        <input class="form-control input-sm" ng-model="other.fee" type="number" />
      </div>

      <div class="form-group">
        <label>領収書</label>
        <button class="btn btn-success btn-xs btn-upload-file">アップロード
          <input type="file" nv-file-select uploader="uploader" style="display: hidden;" multiple>
        </button>
        <div class="mg5t" ng-show="other.receipts.length > 0">
          <img ng-repeat="receipt in other.receipts" src="{{ receipt }}" class="receipt-img">
        </div>
        <div class="mg5t" ng-show="uploader.queue.length > 0">
          <div ng-repeat="item in uploader.queue" image-preview="{ file: item._file, width: 50 }" class="receipt-img"></div>
        </div>
        <div class="d-sm-down-none" ng-if="uploader.isHTML5">
          <div class="drop-image-box" nv-file-over="" uploader="uploader">
            写真ファイルをドラッグしてください！
          </div>
        </div>
      </div>

      <div class="form-group text-right mgnb mg5t">
        <button class="btn btn-sm btn-default" ng-click="closeThisDialog()">キャンセル</button>
        <button class="btn btn-sm btn-primary" ng-click="handleSaveOther()">完了</button>
      </div>
    </div>
  </div>
</div>