.month-input {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .month-input .item{
    margin: 5px; }
  .month-input .month-content{
    flex-grow: 1; }
  .month-input .month-other{
    min-width: 70px; }