<div class="container-fluid animated fadeIn mg100b">
  <!-- 検索ツール -->
  <div class="row">
    <div class="col-sm-12">
      <accordion close-others="true" ng-init="openTools = false;">
        <accordion-group is-open="openTools">
          <accordion-heading>
            <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openTools}"></i> 検索ツール
          </accordion-heading>
          <div class="form-group">
            <div class="col-sm-6 col-md-3">
              <label for="year">年</label>
              <select name="year" class="form-control" ng-model="vm.condition.year">
                <option value>指定なし</option>
                <option value=2018>2018</option>
                <option value=2019>2019</option>
                <option value=2020>2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option>
                <option value=2023>2023</option>
                <option value=2024>2024</option>
                <option value=2025>2025</option>
                <option value=2026>2026</option>
                <option value=2027>2027</option>
                <option value=2028>2028</option>
                <option value=2029>2029</option>
                <option value=2030>2030</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="month">月</label>
              <select name="month" class="form-control" ng-model="vm.condition.month">
                <option value>指定なし</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="status">状態</label>
              <select name="status" class="form-control" ng-model="vm.condition.status">
                <option value>全て</option>
                <option value="1">未申請</option>
                <option value="2">申請中</option>
                <option value="3">承認</option>
                <option value="4">拒否</option>
                <option value="5">済</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="roles">役割</label>
              <select name="roles" class="form-control" ng-model="vm.condition.roles" ng-list>
                <option value>指定しない</option>
                <option value="user">一般社員</option>
                <option value="user,accountant">経理</option>
                <option value="user,manager">マネージャ</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 col-md-6">
              <label for="user">社員</label>
              <tags-input class="my-tags" ng-model="vm.condition.users" key-property="_id" template="users_tags.html" display-property="displayName"
                placeholder="社員検索" replace-spaces-with-dashes="false">
                <auto-complete source="vm.handleSearchUsers($query)" min-length="1" load-on-focus="true" load-on-empty="true" max-results-to-show="32"
                  template="autocomplete.html"></auto-complete>
              </tags-input>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="sort">並び順</label>
              <select name="sort" class="form-control" ng-model="vm.condition.sort">
                <option value="-created">登録の新しい順番</option>
                <option value="created">登録の古い順番</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="limit">表示件数</label>
              <input name="limit" type="number" ng-model="vm.condition.limit" class="form-control">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-danger pull-right" ng-click="vm.handleClearCondition()">クリア</button>
              <button class="btn btn-sm btn-primary pull-right mg5r" ng-click="vm.handleStartSearch()">検索</button>
            </div>
            <div class="clearfix"></div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <!-- 清算検索結果 -->
  <div class="row mg10t">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w50 text-center">操作</th>
            <th>社員名</th>
            <th class="w50 text-center">年</th>
            <th class="w50 text-center">月</th>
            <th class="w50 text-center">合計</th>
            <th class="w50 text-center">状態</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="vm.payments.length === 0">
            <td colspan="6">データが見つかりません。</td>
          </tr>
          <tr ng-repeat="payment in vm.payments track by $index">
            <td class="w50 text-center">
              <div dropdown dropdown-append-to-body>
                <a dropdown-toggle class="btn btn-xs btn-default">
                  <i class="glyphicon glyphicon-option-horizontal"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                  <li>
                    <a ui-sref="payments.review({ paymentId: payment._id })">
                      <i class="fa fa-eye"></i> 詳細確認</a>
                  </li>
                  <li ng-if="payment.status === 2">
                    <a ng-click="vm.handleApprovePayment(payment)">
                      <i class="fa fa-check-square-o"></i> 承認する</a>
                  </li>
                  <li ng-if="rest.status === 2">
                    <a ng-click="vm.handleRejectPayment(payment)">
                      <i class="fa fa-minus-circle"></i> 拒否する</a>
                  </li>
                  <li>
                    <a ng-click="vm.handleViewHistory(payment)">
                      <i class="fa fa-clock-o"></i> 歴史</a>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              <img class="user-common-avatar-small" src="{{ payment.user.profileImageURL }}">
              <a ng-click="handleViewDetailUser(payment.user)">{{ payment.user.displayName }}</a>
            </td>
            <td class="w50 text-center">{{ payment.year }}</td>
            <td class="w50 text-center">{{ payment.month }}</td>
            <td class="w50 text-center">{{ payment.total }}</td>
            <td class="w50 text-center">{{ payment.status | RestStatusFilter}}</td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <ul class="pagination mg10y" ng-show="vm.pages.length > 1">
        <li ng-repeat="page in vm.pages" ng-class="{'active': page === vm.page}">
          <a ng-click="vm.handlePageChanged(page)">{{page}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- 履歴 -->
  <div class="row mg10t">
    <div class="col-xs-12">
      <div class="form-group">
        <button ng-show="vm.isShowHistory" class="btn btn-warning btn-sm pull-right" ng-click="vm.handleCloseHistory()">歴史表を閉じる</button>
        <div class="clearfix"></div>
      </div>
      <div class="table-responsive" id="months-list-historys" ng-show="vm.isShowHistory">
        <table class="table table-bordered">
          <thead class="thead-default">
            <tr>
              <th>日付</th>
              <th>操作</th>
              <th>コメント</th>
              <th>操作者</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="history in vm.historys">
              <td>{{history.timing | LLLL}}</td>
              <td>{{history.action | RestActionFilter}}</td>
              <td>
                <span ng-bind-html="history.comment | nl2br"></span>
              </td>
              <td>
                <a ng-click="handleViewDetailUser(history.user)">{{history.user.displayName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="users_tags.html">
  <a ui-sref="users.view({ userId: data._id })">{{ data.displayName }}</a>
  <a class="remove-button" ng-click="$removeTag()" ng-bind="$$removeTagSymbol"></a>
</script>

<script type="text/ng-template" id="autocomplete.html">
  <div class="my-autocomplete">
    <div class="left-panel">
      <img src="{{ data.profileImageURL || data.avatar }}" />
    </div>
    <div class="right-panel">
      <span>{{ data.displayName || data.name }}</span>
      <span>{{ data.email }}</span>
    </div>
  </div>
</script>