<div class="container-fluid animated fadeIn">
  <!-- 検索ツール -->
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <accordion close-others="true" ng-init="openTools = false;">
        <accordion-group is-open="openTools">
          <accordion-heading>
            <i class="fa fa-arrow-circle-down" ng-class="{'fa-rotate-180': openTools}"></i> 検索ツール
          </accordion-heading>
          <div class="form-group">
            <div class="col-sm-6 col-md-3">
              <label for="year">年</label>
              <select name="year" class="form-control" ng-model="vm.condition.year">
                <option value>指定なし</option>
                <option value=2018>2018</option>
                <option value=2019>2019</option>
                <option value=2020>2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option>
                <option value=2023>2023</option>
                <option value=2024>2024</option>
                <option value=2025>2025</option>
                <option value=2026>2026</option>
                <option value=2027>2027</option>
                <option value=2028>2028</option>
                <option value=2029>2029</option>
                <option value=2030>2030</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="month">月</label>
              <select name="month" class="form-control" ng-model="vm.condition.month">
                <option value>指定なし</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="status">状態</label>
              <select name="status" class="form-control" ng-model="vm.condition.status">
                <option value>全て</option>
                <option value="1">未申請</option>
                <option value="2">申請中</option>
                <option value="3">承認</option>
                <option value="4">拒否</option>
                <option value="5">取り消し申請中</option>
                <option value="6">完了</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="roles">役割</label>
              <select name="roles" class="form-control" ng-model="vm.condition.roles" ng-list>
                <option value>指定しない</option>
                <option value="user">一般社員</option>
                <option value="user,accountant">経理</option>
                <option value="user,manager">マネージャ</option>
              </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 col-md-6">
              <label for="user">社員</label>
              <tags-input class="my-tags" ng-model="vm.condition.users" key-property="_id" template="users_tags.html" display-property="displayName"
                placeholder="社員検索" replace-spaces-with-dashes="false">
                <auto-complete source="vm.handleSearchUsers($query)" min-length="1" load-on-focus="true" load-on-empty="true" max-results-to-show="32"
                  template="autocomplete.html"></auto-complete>
              </tags-input>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="sort">並び順</label>
              <select name="sort" class="form-control" ng-model="vm.condition.sort">
                <option value="-created">登録の新しい順番</option>
                <option value="created">登録の古い順番</option>
              </select>
            </div>
            <div class="col-sm-6 col-md-3">
              <label for="limit">表示件数</label>
              <input name="limit" type="number" ng-model="vm.condition.limit" class="form-control">
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group text-right">
            <button class="btn btn-sm btn-danger" ng-click="vm.handleClearCondition()">クリア</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.handleStartSearch()">検索</button>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <!-- 清算検索結果 -->
  <div class="row mg10t">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <p>全 {{ vm.total }} 件</p>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th class="w50 text-center">操作</th>
              <th>社員名</th>
              <th class="w50 text-center">年</th>
              <th class="w50 text-center">月</th>
              <th class="w100 text-center">合計</th>
              <th class="w150 text-center">状態</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="vm.payments.length === 0">
              <td colspan="6">データが見つかりません。</td>
            </tr>
            <tr ng-repeat="payment in vm.payments track by $index" class="clickable" ng-click="vm.hanleSelectPayment(payment)">
              <td class="w50 text-center">
                <div dropdown dropdown-append-to-body>
                  <a dropdown-toggle class="btn btn-xs btn-default inside-clickable">
                    <i class="glyphicon glyphicon-option-horizontal"></i>
                  </a>

                  <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li>
                      <a ui-sref="admin.payments.review({ paymentId: payment._id })">詳細確認</a>
                    </li>
                    <li ng-if="payment.status === 2">
                      <a ng-click="vm.handleApprovePayment(payment)">承認</a>
                    </li>
                    <li ng-if="payment.status === 2">
                      <a ng-click="vm.handleRejectPayment(payment)">拒否</a>
                    </li>
                    <li ng-if="payment.status === 5">
                      <a ng-click="vm.handleDeletePayment(payment)">取り消し</a>
                    </li>
                    <li>
                      <a ng-click="vm.handleViewHistory(payment)">歴史</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <img class="user-common-avatar-small" src="{{ payment.user.profileImageURL }}">
                <a class="inside-clickable" ng-click="handleViewDetailUser(payment.user)">{{ payment.user.displayName }}</a>
              </td>
              <td class="w50 text-center">{{ payment.year }}</td>
              <td class="w50 text-center">{{ payment.month }}</td>
              <td class="w100 text-center">￥{{ payment.total }}</td>
              <td class="w150 text-center">{{ payment.status | StatusFilter}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Pagination -->
      <pagination total-items="vm.total" ng-model="vm.page" max-size="5" boundary-links="true" items-per-page="vm.condition.limit"
        ng-change="vm.handlePageChanged()" previous-text="前" next-text="次" first-text="最初" last-text="最後"></pagination>
    </div>
  </div>
  <!-- 履歴 -->
  <div class="row" ng-show="vm.isShowHistory">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <div class="form-group text-right">
        <button class="btn btn-warning btn-sm" ng-click="vm.handleCloseHistory()">歴史表を閉じる</button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-default">
            <tr>
              <th class="w30 text-center">#</th>
              <th>日付</th>
              <th>操作</th>
              <th>操作者</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="history in vm.historys">
              <td class="w30 text-center">{{ $index + 1 }}</td>
              <td>{{ history.timing | LLLL }}</td>
              <td>{{ history.action | ActionFilter }}</td>
              <td>
                <a ng-click="handleViewDetailUser(history.user)">{{history.user.displayName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="users_tags.html">
  <a ui-sref="admin.users.view({ userId: data._id })">{{ data.displayName }}</a>
  <a class="remove-button" ng-click="$removeTag()" ng-bind="$$removeTagSymbol"></a>
</script>

<script type="text/ng-template" id="autocomplete.html">
  <div class="my-autocomplete">
    <div class="left-panel">
      <img src="{{ data.profileImageURL || data.avatar }}" />
    </div>
    <div class="right-panel">
      <span>{{ data.displayName || data.name }}</span>
      <span>{{ data.email }}</span>
    </div>
  </div>
</script>