<h3>画像選択</h3>
<div class="col-xs-3" ng-repeat="img in gallery">
  <a ng-click="selectedImage = img" ng-class="{ 'gallery-selected': selectedImage === img }">
    <img src="{{img}}">
  </a>
</div>
<div class="clearfix"></div>
<div class="form-group mg12t mgnb">
  <button class="btn btn-default btn-sm pull-right" ng-click="closeThisDialog(false)">キャンセル</button>
  <button class="btn btn-primary btn-sm pull-right mg10r" ng-click="closeThisDialog(selectedImage)">選択</button>
  <div class="clearfix"></div>
</div>
