<div class="container-fluid animated fadeIn mg50t">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <button ng-click="vm.handleAddNewHoliday()" class="btn btn-primary pull-right">追加</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>休日形態</th>
              <th>有給/無給</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="holiday in vm.holidays">
              <td>{{holiday.name}}</td>
              <td>
                <span ng-show="holiday.isPaid" class="label label-success">有給</span>
                <span ng-hide="holiday.isPaid" class="label label-warning">無給</span>
              </td>
              <td>
                <button class="btn btn-primary btn-sm" ng-click="vm.handleEditHoliday(holiday)">編集</button>
                <button class="btn btn-danger btn-sm" ng-click="vm.handleDeleteHoliday(holiday)">削除</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Add holiday -->
<script type="text/ng-template" id="formHoliday.html">
  <p class="font-weight-bold">休日形態を{{(holiday._id) ? '編集' : '追加'}}</p>

  <form name="holidayForm" novalidate>
    <fieldset>
      <div class="form-group" show-errors>
        <input name="name" type="text" ng-model="holiday.name" id="name" class="form-control" placeholder="名前" required>
        <div ng-messages="holidayForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">休日形態の名前は必須です</p>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label><input name="isPaid" type="checkbox" ng-model="holiday.isPaid">有給</label>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="form-group mg12t mgnb">
    <button class="btn btn-default pull-right" ng-click="closeThisDialog()">キャンセル</button>
    <button class="btn btn-primary pull-right mg10r" ng-click="handleSaveHoliday(holidayForm.$valid); closeThisDialog()">保存</button>
    <div class="clearfix"></div>
  </div>
</script>