.department-item-block {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;}
  .department-item-block .department-block-title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
    width: 100%;}
  .department-item-block .department-block-info {
    display: flex;
    margin-bottom: 6px;
    width: 100%; }
    .department-item-block .department-block-info .department-email {
      flex-grow: 1; }
    .department-item-block .department-block-info .department-action {
      width: 50px;
      display: flex;
      justify-content: space-between;  }
  .department-item-block .department-block-leaders {
    width: 100%;
    margin-bottom: 6px;
    display: flex;
    position: relative; }
  .department-item-block .department-block-leaders {
    width: 100%;
    margin-bottom: 6px;
    display: flex;
    position: relative; }
  .department-item-block .department-block-members {
    width: 100%;
    position: relative; }
    .department-item-block .department-block-members .images,
    .department-item-block .department-block-leaders .images {
      flex-grow: 1;
      overflow: hidden; }
    .department-item-block .department-block-members .buttons,
    .department-item-block .department-block-leaders .buttons {
      text-align: right;
      vertical-align: middle;
      width: 20px; 
      height: 100%;}
