.cal-month-box .cal-cell{
  height: auto; }
  .cal-month-box .cal-cell .selected-cell{
    background-color: #0392cf;
    color: #fff; }
  .cal-month-box .cal-cell .off-cell{
    background-color: pink;
    color: #fff; }
.cal-week-box-cell {
  display: none; }
.cal-month-box.read-only .cal-cell{
  height: 20px !important; }