/* ngTagsInput */
.my-tags .host {
  margin-top: 0; }
  .my-tags .tags {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important; }
    .my-tags .tags.focused {
      border-color: #66afe9 !important;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6) !important; }
    .my-tags .tags .tag-item {
      background: #428bca !important;
      border: 1px solid #357ebd !important;
      border-radius: 4px !important;
      color: #fff !important; }
    .my-tags .tags .tag-item.selected {
      background: #d9534f !important;
      border: 1px solid #d43f3a !important;
      border-radius: 4px;
      color: #fff !important; }
    .my-tags .tags .tag-item a {
      color: #fff !important; }
    .my-tags .tags .tag-item button {
      background: transparent !important;
      color: #000 !important;
      opacity: .4 !important; }

tags-input[disabled] .tags .input {
  display: none !important; }

.my-autocomplete .left-panel {
  float: left; }
  .my-autocomplete .left-panel img {
    width: 32px;
    height: 32px;
    vertical-align: middle; }
  .my-autocomplete .right-panel {
    float: left;
    margin-left: 5px; }
    .my-autocomplete .right-panel span:first-child {
      font-size: 16px; }
    .my-autocomplete .right-panel span:nth-child(2) {
      font-size: 14px;
      color: gray; }
    .my-autocomplete .right-panel span:last-child {
      display: block;
      font-size: 14px;
      font-style: italic; }

.ngdialog {
  height: auto !important; }
  .ngdialog-custom {
    padding-top: 50px !important;
    padding-bottom: 0 !important;}

.progress {
  border-radius: 0 !important; }
  .progress-xs {
    height: 4px !important; }
  .progress-sm {
    height: 8px !important; }
  .progress-lg {
    height: 24px !important; }
  .progress .progress-bar {
    box-shadow: none !important; }

.image-view {
  max-width: 100%; }
  .image-view img {
    display:block;
    width: 100%;
    height: auto;
    margin:auto; }

.ng-hide.ng-hide-animate {
  display: none !important; }


.nav-tabs {
  border: none !important;
  border-bottom: 2px solid #DDD !important; }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
      border-width: 0; }
    .nav-tabs > li > a {
      padding: 0.5rem 0;
      border: none !important;
      font-size: 13px;
      color: #666; }
        .nav-tabs > li.active > a,
        .nav-tabs > li > a:hover {
          border: none !important;
          color: #4285F4!important;
          background: transparent; }
        .nav-tabs > li > a::after {
          content: "";
          background: #4285F4;
          height: 2px;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -1px;
          transition: all 250ms ease 0s;
          transform: scale(0); }
    .nav-tabs > li.active > a::after,
    .nav-tabs > li:hover > a::after {
      transform: scale(1); }
  .tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff; }
  .tab-content {
    padding-top: 6px; }