.navbar {
  margin-bottom: 0 !important;
  border: none !important; }
  .navbar .navbar-brand {
    display: inline-block;
    width: 140px;
    height: 50px;
    /*padding: 0.2rem;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130px auto; }
.navbar .navbar-toggle {
  position: relative; }
  .navbar .navbar-toggle .badge-notifications {
    position: absolute;
    bottom: 0.1rem;
    right: 0.2rem;
    border-radius: 50%;
    border: 1px solid #fff;
    height: 1rem;
    width: 1rem;
    background-color: #999; }
    .navbar .navbar-toggle .badge-notifications.active {
      border: 1px solid #fff;
      background-color: #ff4444; }
@media (max-width: 767px) {
  .navbar .navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit; }
  .navbar .navbar-brand {
    background-position: center;
    width: 100% !important;
    margin: 0 auto !important; } }