<section>
  <div class="page-header">
    <h1>Workdates</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="workdate in vm.workdates"
       ui-sref="workdates.view({ workdateId: workdate._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="workdate.created | date:'mediumDate'"></span>
        by
        <span ng-if="workdate.user" ng-bind="workdate.user.displayName"></span>
        <span ng-if="!workdate.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="workdate.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.workdates.$resolved && !vm.workdates.length">
    No Workdates yet, why don't you <a ui-sref="workdates.create">create one</a>?
  </div>
</section>
