<div class="container-fluid animated fadeIn mg100b">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center mg5y">{{:: vm.date | LL }} {{vm.date.format('dddd')}}</h3>
    </div>
    <div class="col-xs-12 mg5b">
      <button class="btn btn-default btn-sm" ng-click="vm.handlePreviousScreen()">
        <i class="fa fa-angle-double-left"></i> 戻る
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <form>
          <!-- 作業内容 -->
          <div class="form-group">
            <label for="content">作業内容</label>
            <textarea name="content" class="form-control h50" ng-model="vm.workdate.content" required></textarea>
          </div>
          <div class="form-group">
            <div class="col-xs-6 pdnl">
              <label for="start">開始</label>
              <input type="text" class="form-control" ng-model="vm.workdate.start">
            </div>
            <div class="col-xs-6 pdnr">
              <label for="end">終了</label>
              <input type="text" class="form-control" ng-model="vm.workdate.end">
            </div>
            <div class="form-group">
              <label for="rest">休憩時間（分）</label>
              <input class="form-control" type="number" ng-model="vm.workdate.middleRest" step="1" min="0">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well"></div>
    </div>
  </div>
</div>