<div class="container-fluid animated fadeIn mg100b">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center mg5y">{{:: vm.date | LL }} {{vm.date.format('dddd')}}</h3>
    </div>
    <div class="col-xs-12 mg5b">
      <button class="btn btn-default btn-sm" ng-click="vm.handlePreviousScreen()">
        <i class="fa fa-angle-double-left"></i> 戻る
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <form>
          <!-- 休暇 -->
          <div class="form-group">
            <label for="content">休暇</label>
            <button ng-if="vm.workdate.workrests.length > 0" class="btn btn-danger btn-sm" ng-click="vm.handleViewWorkrest()">休暇詳細</button>
            <p ng-if="vm.workdate.workrests.length === 0">休暇なし</p>
          </div>
          <!-- 作業内容 -->
          <div class="form-group">
            <label for="content">作業内容</label>
            <textarea name="content" class="form-control h50" ng-model="vm.workdate.content" required></textarea>
          </div>
          <!-- 時間 -->
          <div class="form-group">
            <div class="col-xs-6 pdnl">
              <label for="start">開始</label>
              <input type="text" class="form-control" ng-model="vm.workdate.start">
            </div>
            <div class="col-xs-6 pdnr">
              <label for="end">終了</label>
              <input type="text" class="form-control" ng-model="vm.workdate.end">
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- 休憩 -->
          <div class="form-group">
            <label for="rest">休憩時間（分）</label>
            <input class="form-control" type="number" ng-model="vm.workdate.middleRest" step="1" min="0">
          </div>
          <!-- Buttons -->
          <div class="form-group">
            <button class="btn btn-default" ng-click="vm.handleSetDefaultWorkdateInfo()">デフォルト</button>
            <button class="btn btn-danger" ng-click="vm.handleClearWorkdateInfo()">クリア</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well"></div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="workrests_list.html">
  <h4>申請した休暇の一覧</h4>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>休暇形態</th>
              <th>理由</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="workrest in workrests">
              <td>{{ workrest.holiday.name }}</td>
              <td>{{ workrest.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-sm pull-right btn-danger" ng-click="closeThisDialog()">閉じる</button>
      <div class="clearfix"></div>
    </div>
  </div>
</script>